[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
Pillow = "*"
openpyxl = "*"
gunicorn = "*"
uvicorn = "*"
psycopg2-binary = "*"
django-countries = "*"
django-phonenumber-field = "*"
phonenumberslite = "*"
django-debug-toolbar = "*"
django-rosetta = "*"
django-crispy-forms = "*"
zeep = "*"
weasyprint = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
