{% load i18n %}

{% load static %}

{% load humanize %}
<table class="table table-striped">
  <tr>
    <td>{%trans 'Registrar' %}</td>
    <td>{{ purchase.registrar }}</td>
  </tr>
  <tr>
    <td>{%trans 'Approver' %}</td>
    <td>{{ purchase.approver }} - {% if purchase.approved_date %}{{ purchase.get_fa_approved }}{% endif %}
    </td>
  </tr>
  <tr>
    <td>{%trans 'Vendor' %}</td>
    <td>{{ purchase.vendor }}</td>
  </tr>
  <tr>
    <td>{%trans 'Paper invoice number' %}</td>
    <td>{{ purchase.paper_invoice_number }}</td>
  </tr>
  <tr>
    <td>{%trans 'Payment deadline' %}</td>
    <td>{{ purchase.get_fa_payment }} - {{ purchase.deadline_days }} {% trans 'days is remained' %}</td>
  </tr>
  <tr>
    <td>{%trans 'Purchase status' %}</td>
    <td><span class="badge {% if purchase.status == 'draft' %}bg-warning{% else %}bg-success {% endif %}">{{ purchase.status }} </span></td>
  </tr>

</table>
