{% load i18n %}

{% load static %}

{% load humanize %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{% trans 'Image' %}</th>
      <th scope="col">{% trans 'isbn' %}</th>
      <th scope="col">{% trans 'Name' %}</th>
      <th scope="col">{% trans 'Author' %}</th>
      <th scope="col">{% trans 'Publisher' %}</th>
      <th scope="col">{% trans 'Quantity' %}</th>
      <th scope="col"></th>
      <th scope="col">{% trans 'Price' %}<span class="small"> ({% trans 'Rial' %})</span></th>
      <th scope="col">{% trans 'Price' %}<span class="small"> ({% trans 'Rial' %})</span></th>
      <th scope="col">%</th>
      <th scope="col">{% trans 'Discount' %}</th>
      <th scope="col">{% trans 'Cost' %} ({% trans 'Rial' %})</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase_line in purchase.lines.all %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="" alt="{{ product.image_alt }}" width="60px" height="auto"></td>
      <td>{{ purchase_line.product.isbn }}</td>
      <td>{{ purchase_line.product.name }}</td>
      <td>{{ purchase_line.product.author }}</td>
      <td>{{ purchase_line.product.publisher }}</td>
      <td>{{ purchase_line.quantity }}</td>
      <td></td>
      <td>{{ purchase_line.price | intcomma:False }}</td>
      <td>{{ purchase_line.get_cost | intcomma:False }}</td>
      <td>{{ purchase_line.purchase.vendor.overal_discount | intcomma:False }}</td>
      <td>{{ purchase_line.discount | intcomma:False }}</td>
      <td>{{ purchase_line.get_cost_after_discount | intcomma:False }}</td>
    </tr>
    {% endfor %}



    <tr>
      <th scope="row"></th>
      <td colspan="5">{% trans 'Sum' %}</td>
      <td>{{ purchase.get_total_quantity }}</td>
      <td colspan="5"></td>
      <td>{{ purchase.get_cost_after_discount | intcomma:False }}</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td colspan="11">{% trans 'Discount' %}</td>
      <td class="text-danger">{{ purchase.discount | intcomma:False }}</td>

    </tr>
    <tr>
      <th scope="row"></th>
      <td colspan="11">{% trans 'Discount percent' %}</td>
      <td class="text-danger">{{ purchase.discount_percent }} %</td>

    </tr>
    <tr>
      <th scope="row"></th>
      <td colspan="11" class="fw-bolder">{% trans 'Payable' %}</td>
      <td class="fw-bolder">{{ purchase.payable | intcomma:False }}</td>
    </tr>

  </tbody>
</table>
