{% load i18n %}

{% load static %}

{% load humanize %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{% trans 'Image' %}</th>
        <th scope="col">{% trans 'isbn' %}</th>
        <th scope="col">{% trans 'Name' %}</th>
        <th scope="col">{% trans 'Publisher' %}</th>
        <th scope="col">{% trans 'Quantity' %}</th>
        <th scope="col">{% trans 'Price' %}<span class="small"> ({% trans 'Rial' %})</span></th>
        <th scope="col">{% trans 'Price' %}<span class="small"> ({% trans 'Rial' %})</span></th>
        <th scope="col">%</th>
        <th scope="col">{% trans 'Discount' %}</th>
        <th scope="col">{% trans 'Cost' %} ({% trans 'Rial' %})</th>
      </tr>
    </thead>
    <tbody>
      {% for purchase_line in purchase.lines.all %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="" alt="{{ product.image_alt }}" width="60px" height="auto"></td>
        <td>{{ purchase_line.product.isbn }}</td>
        {% if purchase.status == 'draft' %}
        <td><a href="{% url 'orders:purchaseline_update' purchase_id=purchase.id product_id=purchase_line.product.id variation=purchase_line.variation purchaseline_id=purchase_line.id %}">{{ purchase_line.product }}</a></td>
        {% else %}
        <td>{{ purchase_line.product }}</td>
        {% endif %}
        <td>{% if purchase_line.product.pub_1 %}{{ purchase_line.product.pub_1.name }}{% endif %}</td>
        <td>{{ purchase_line.quantity }}</td>
        <td>{{ purchase_line.price | intcomma:False }}</td>
        <td>{{ purchase_line.get_cost | intcomma:False }}</td>
        <td>{{ purchase_line.discount_percent }}</td>
        <td>{{ purchase_line.discount | intcomma:False }}</td>
        <td>{{ purchase_line.get_cost_after_discount | intcomma:False }}</td>
      </tr>
      {% endfor %}


    <tfoot>
      <tr>
        <th scope="row"></th>
        <td colspan="4">{% trans 'Sum' %}</td>
        <td>{{ purchase.get_total_quantity }}</td>
        <td></td>
        <td>{{ purchase.get_total_cost | intcomma:False}}</td>
        <td></td>
        <td></td>
        <td>{{ purchase.get_cost_after_discount | intcomma:False }}</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td colspan="9">{% trans 'Overal discount' %}</td>
        <td class="text-danger">{{ purchase.discount | intcomma:False }}</td>

      </tr>
      <tr>
        <th scope="row"></th>
        <td colspan="9">{% trans 'Overal discount percent' %}</td>
        <td class="text-danger">{{ purchase.discount_percent }} %</td>

      </tr>
      <tr>
        <th scope="row"></th>
        <td colspan="9" class="fw-bolder">{% trans 'Payable' %}</td>
        <td class="fw-bolder">{{ purchase.payable | intcomma:False }}</td>
      </tr>
    </tfoot>
    </tbody>
  </table>
</div>
