{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}{% trans 'Purchases' %}{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-2">
      {% include "staff/sidebar_staff.html" with barName="purchase" %}
    </div>
    <div class="col-md-10">
      <h2>{% trans 'List of purchases' %}</h2>
      <div class="">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{% trans 'Vendor' %}</th>
              <th scope="col">{% trans 'Craeted date' %}</th>
              <th scope="col">{% trans 'Payment Date' %}</th>
              <th scope="col">{% trans 'Quantity' %}</th>
              <th scope="col">{% trans 'Payable' %}</th>
              <th scope="col">{% trans 'Status' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for purchase in purchases %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td><a href="{% url 'orders:purchase_details' purchase.id %}">{{ purchase.vendor }}</a></td>
              <td>{{ purchase.created }}</td>
              <td>{{ purchase.payment_date }}</td>
              <td>{{ purchase.quantity }}</td>
              <td>{{ purchase.payable }}</td>
              <td>{{ purchase.status }}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
{% endblock %}
