{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}{% trans 'Purchase create' %}{% endblock %}


{% block purchases-btn %}btn-secondary text-dark{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-1">
      {% include "staff/sidebar_staff.html" with barName="purchase" %}
    </div>
    <div class="col-md-5">
      <h2>{% trans 'New purchase' %}</h2>
      <div class="">
        <form class="" action="." method="post">
          {% csrf_token %}
          {{ purchase_form | crispy }}
          <input type="submit" name="" class="btn btn-success my-3" value="{% trans 'Submit' %}">
        </form>
      </div>
      <div class="">
        <p class="p-2"><span class="text-danger">{% trans 'Notice' %}: </span>{% trans 'If you assign discount and percent discount at the same time discount will be choose as the main factor' %}</p>
      </div>
    </div>

  </div>
</div>
{% endblock %}
