{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% load humanize %}

{% load crispy_forms_tags %}

{% block title %}{% trans 'Purchase details' %}{% endblock %}


{% block purchases-btn %}btn-secondary text-dark{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-1">
      {% include "staff/sidebar_staff.html" with barName="purchase" %}
    </div>
    <div class="col-md-11">
      <h2>{% trans 'Purchase' %} {{ purchase.id }} - {{ purchase.vendor }}</h2>
      <div class="">
        {% if purchase.status == 'approved'%}
        {% if request.user.is_manager %}
        <a href="{% url 'orders:back_to_draft_purchase' purchase.id %}" class="btn btn-sm btn-outline-danger">Back to draft</a>
        {% endif %}
        {% endif %}
      </div>
      <div class="">
        {% include 'staff/purchase/_purchase_details_block.html' %}
      </div>
      {% if purchase.status == "draft" %}
      <div class="my-3">
        <form class="" action="." method="post">
          {% csrf_token %}
          {{ search_form | crispy }}
          <input type="submit" class="btn btn-outline-secondary my-3" name="" value="{% trans 'Submit' %}">
        </form>

      </div>
      {% if results %}
      <div class="row">

        {% for result in results %}
        <div class="col-md-4 my-4">

          {# <a href="{% url 'orders:purchase_add_line' purchase_id=purchase.id product_id=result.id %}" class="btn btn-sm btn-success m-1 fs-10 text-right"> #}

          <a href="{% url 'orders:purchase_add_line_v' purchase_id=purchase.id product_id=result.id variation='new main'%}" class="btn btn-sm btn-success m-1 fs-10 text-right">
            {{ result.name | truncatechars:30 }} - {{ result.publisher | truncatechars:15 }} - {{ result.size }} - {{ result.cover_type }} - {% trans 'Quantity' %} {{ result.stock}} - {{ result.price | intcomma:False }}
          </a>
          {% if result.has_other_prices %}
          {% if result.price_1 %}
          <a href="{% url 'orders:purchase_add_line_v' purchase_id=purchase.id product_id=result.id variation='new v1' %}" class="btn btn-sm btn-success">{{ result.price_1 | intcomma:False }}</a>
          {% endif %}
          {% if result.price_2 %}
          <a href="{% url 'orders:purchase_add_line_v' purchase_id=purchase.id product_id=result.id variation='new v2' %}" class="btn btn-sm btn-success">{{ result.price_2 | intcomma:False }}</a>
          {% endif %}
          {% if result.price_3 %}
          <a href="{% url 'orders:purchase_add_line_v' purchase_id=purchase.id product_id=result.id variation='new v3' %}" class="btn btn-sm btn-success">{{ result.price_3 | intcomma:False }}</a>
          {% endif %}
          {% if result.price_4 %}
          <a href="{% url 'orders:purchase_add_line_v' purchase_id=purchase.id product_id=result.id variation='new v4' %}" class="btn btn-sm btn-success">{{ result.price_4 | intcomma:False }}</a>
          {% endif %}
          {% if result.price_5 %}
          <a href="{% url 'orders:purchase_add_line_v' purchase_id=purchase.id product_id=result.id variation='new v5' %}" class="btn btn-sm btn-success">{{ result.price_5 | intcomma:False }}</a>
          {% endif %}
          {% if result.price_used %}
          <a href="{% url 'orders:purchase_add_line_v' purchase_id=purchase.id product_id=result.id variation='used main' %}" class="btn btn-sm btn-warning">{{ result.price_used | intcomma:False }}</a>
          {% endif %}
          {% endif %}
          <a href="{% url 'orders:price_management' product_id=result.id purchase_id=purchase.id %}" class="btn btn-sm btn-success m-1 fs-10 text-right">...</a>
        </div>
        {% endfor %}

      </div>
      {% endif %} {# end of results block #}
      {% endif %} {# end of draft purchase block #}

      <div class="">
        {% include 'staff/purchase/_purchase_list_block.html' %}
        {% comment %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{% trans 'Image' %}</th>
              <th scope="col">{% trans 'isbn' %}</th>
              <th scope="col">{% trans 'Name' %}</th>
              <th scope="col">{% trans 'Author' %}</th>
              <th scope="col">{% trans 'Publisher' %}</th>
              <th scope="col">{% trans 'Quantity' %}</th>
              <th scope="col">{% trans 'Price' %}</th>
              <th scope="col">{% trans 'Sum' %}</th>
              <th scope="col">{% trans 'Discount' %} </th>
              <th scope="col">{% trans 'Cost' %} ({% trans 'Rial' %})</th>
            </tr>
          </thead>
          <tbody>
            {% for purchase_line in purchase_lines %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="" alt="{{ product.image_alt }}" width="60px" height="auto"></td>
              <td>{{ purchase_line.product.isbn }}</td>
              <td><a href="{% url 'orders:purchaseline_update' purchase_id=purchase.id product_id=purchase_line.product.id variation=purchase_line.variation purchaseline_id=purchase_line.id %}">{{ purchase_line.product }}</a></td>
              <td>{{ purchase_line.product.author }}</td>
              <td>{{ purchase_line.product.publisher }}</td>
              <td>{{ purchase_line.quantity }}</td>
              <td>{{ purchase_line.price | intcomma:False }}</td>
              <td>{{ purchase_line.get_cost | intcomma:False }}</td>
              <td>{{ purchase_line.discount_percent | intcomma:False }}</td>
              {# <!-- TODO: PurchaseLine discount does not calculate correctly --> #}
              <td>{{ purchase_line.discount | intcomma:False }}</td>
              <td>{{ purchase_line.get_cost_after_discount | intcomma:False }}</td>
            </tr>
            {% endfor %}


          <tfoot>
            <tr>
              <th scope="row"></th>
              <td colspan="5">{% trans 'Sum' %}</td>
              <td>{{ purchase.get_total_quantity }}</td>
              <td ></td>
              <td>{{ purchase.get_total_cost | intcomma:False}}</td>
              <td ></td>
              <td>{{ purchase.get_cost_after_discount | intcomma:False }}</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="9">{% trans 'Overal discount' %}</td>
              <td class="text-danger">{{ purchase.discount | intcomma:False }}</td>

            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="9">{% trans 'Overal discount percent' %}</td>
              <td class="text-danger">{{ purchase.discount_percent  }} %</td>

            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="9" class="fw-bolder">{% trans 'Payable' %}</td>
              <td class="fw-bolder">{{ purchase.payable | intcomma:False }}</td>
            </tr>
          </tfoot>
          </tbody>
        </table>
        {% endcomment %}
      </div>
      <div class="">
        {% if purchase.status == "draft" %}
        <a href="{% url 'orders:purchase_update' purchase.id %}" class="btn btn-outline-secondary ">{% trans 'Edit purchase' %}</a>
        <a href="{% url 'orders:purchase_checkout' purchase.id %}" class="btn btn-outline-success">{% trans 'Purchase checkout' %}</a>
        {% endif %}
      </div>
    </div> <!-- end of col-md-10 -->

  </div> <!-- end of main row -->
</div>
{% endblock %}
