{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% load humanize %}

{% load crispy_forms_tags %}

{% block title %}{% trans 'Collection management' %}{% endblock %}

{% block products-btn %}btn-secondary text-dark{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
      <div class="col-md-2">
        {% include "staff/sidebar_staff.html" with barName="products" %}
      </div>
      <div class="col-md-10">
    <h2>{% trans 'Product' %}: {{ product }}</h2>
    <table class="table table-striped">
      <tr>
        <td>{% trans 'Is a collection' %}</td>
        <td>{% if product.is_collection %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}</td>
      </tr>
      <tr>
        <td>{% trans 'Related products' %}</td>
        <td>
        {% for prd in products %}
        <br>{{ prd.name }} - {{ prd.isbn }} <a href="{% url 'staff:collection_management_remove' product_id=product.id product_isbn=prd.isbn %}" class="btn btn-sm btn-outline-danger">{% trans 'Remove' %}</a>
        {% endfor %}
        </td>
      </tr>
    </table>
    <form class="" action="." method="post"> {% csrf_token %}
      {{ collection_form | crispy }}
      <input type="submit" value="{% trans 'Add' %}" class="btn btn-success my-3" >

    </form>



    </div>


  </div>

</div>
{% endblock %}
{% block script %}

{% endblock %}
