{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% load humanize %}

{% load crispy_forms_tags %}

{% block title %}{% trans 'Invoice create' %}{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-2">
      {% include "staff/sidebar_staff.html" with barName="sales" %}
    </div>
    <div class="col-md-10">
      <div>
        <h2 class="my-4">{% trans 'List of draft orders' %}</h2>
        <a href="{% url 'tools:order_export_excel' criteria='draft' %}" class="my-2"><img src="{% static 'img/excel-icon.png' %}" alt="Excel icon" width="32px" height="auto"></a>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{% trans 'Order ID' %}</th>
              <th scope="col">{% trans 'Quantity' %}</th>
              <th scope="col">{% trans 'Price' %}<span class="small"> ({% trans 'Rial' %})</span></th>
              <th scope="col">{% trans 'Discount' %}<span class="small"> ({% trans 'Rial' %})</span></th>
              <th scope="col">{% trans 'Cost' %}<span class="small"> ({% trans 'Rial' %})</span></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for order in draft_orders %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td><a href="{% url 'staff:invoice_create' order.id %}">{{ order.id }}</a></td>
              <td>{{ order.get_total_quantity}}</td>
              <td>{{ order.get_cost_after_discount | intcomma:False }}</td>
              <td>{{ order.discount | intcomma:False }}</td>
              <td>{{ order.get_payable | intcomma:False }}</td>
              <td><a href="{% url 'staff:invoice_checkout' order.id %}" class="btn btn-sm btn-outline-secondary">{% trans 'Submit' %}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

    </div>

  </div>

</div>

</div>
{% endblock %}

{% block script %}

{% endblock %}
