{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}{% trans 'Invoice create' %}{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-2">
      {% include "staff/sidebar_staff.html" with barName="sales" %}
    </div>
    <div class="col-md-10">
      <div>
        <h2>{% trans 'Create invoice' %}</h2>

        {% if order %}
        <h4>{% trans 'Client' %}</h4>
        {% trans 'Name' %} : {{ order.client }} - {% trans 'Phone' %} : {{ order.client_phone }}
        {% endif %}

        <h2 class="my-4">{% trans 'Add products' %}</h2>
        {% if order %}
        <form class="" action="{% url 'staff:invoice_create' order.id %}" method="post">
        {% else %}
        <form class="" action="{% url 'staff:invoice_create' %}" method="post">
        {% endif %}
            {{ isbn_search_form | crispy }}
            {% csrf_token %}
            <input class="btn btn-outline-secondary" type="submit" name="book" value="{% trans 'Submit' %}">

          </form>

      </div>

      <div class="">
        <h2 class="my-4">{% trans 'Invoice' %}</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{% trans 'isbn' %}</th>
              <th scope="col">{% trans 'Image' %}</th>
              <th scope="col">{% trans 'Name' %}</th>
              <th scope="col">{% trans 'Author' %}</th>
              <th scope="col">{% trans 'Remove' %}</th>
              <th scope="col">{% trans 'Quantity' %}</th>
              <th scope="col"></th>
              <th scope="col">{% trans 'Price' %}</th>
              <th scope="col">{% trans 'Discount' %}</th>
              <th scope="col">{% trans 'Cost' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for order_line in order.lines.all %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="" alt="{{ product.image_alt }}" width="60px" height="auto"></td>
              <td>{{ order_line.product.isbn }}</td>
              <td>{{ order_line.product.name }}</td>
              <td>{{ order_line.product.author }}</td>
              <td>
                <input type="checkbox" value="{% trans 'Remove' %}">
                {% comment %}
                <form action="{% url 'cart:cart_remove' product.pk %}" method="post">
                  <input type="submit" value="{% trans 'Remove' %}">
                  {% csrf_token %}
                </form>
                {% endcomment %}
              </td>
              <td>1</td>
              <td>
                <input type="number" value="" min="1" max="10">
                <input type="submit" value="{% trans 'Update' %}">
                {% comment %}
                <form action="{% url 'cart:cart_add' product.pk %}" method="post">
                  {{ item.update_quantity_form.quantity }}
                  {{ item.update_quantity_form.override }}
                  <input type="submit" value="{% trans 'Update' %}">
                  {% csrf_token %}
                </form>
                {% endcomment %}
              </td>
              <td>{{ order_line.get_cost }}</td>
              <td>{{ order_line.discount }}</td>
              <td>{{ order_line.get_cost_after_discount }}</td>
            </tr>
            {% endfor %}



            <tr>
              <th scope="row"></th>
              <td colspan="5">{% trans 'SUM' %}</td>
              <td>9</td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{ order.get_total_cost }}</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="8">{% trans 'DISCOUNT' %}</td>
              <td class="text-danger">21000 - </td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="9" class="fw-bolder">{% trans 'PAYABLE' %}</td>
              <td class="fw-bolder">{{ order.get_cost_after_discount }}</td>
            </tr>

          </tbody>
        </table>
        <h2 class="my-4">{% trans 'Notes' %}</h2>
        <div class="client">
          <form class="" action="." method="post">
            {{ client_search_form | crispy }}
            {% csrf_token %}
            <input class="btn btn-outline-secondary" type="submit" name="client" value="{% trans 'Submit' %}">
          </form>
          <a href="{% url 'client_add' %}/#addClient" onclick="return popitup('/account/client_add/#addClient')" class="btn btn-outline-secondary">{% trans 'Add client' %}</a>
        </div>
        <form class="" action="." method="post">
          <input type="text" name="client" value="Note">
          <br>
          <input type="checkbox" id="present" name="vehicle1" value="Bike">
          <label for="present">{% trans 'Is a gift' %}</label><br>
          <input type="submit" name="" value="{% trans 'Submit' %}" class="btn btn-outline-secondary">
        </form>

      </div>
      <div class="my-5">
        <form class="" action="" method="post">
          <a href="{% url 'staff:draft_orders' %}" class="btn btn-outline-secondary">{% trans 'Save draft' %}</a>
          <input type="button" name="" class="btn btn-outline-secondary" value="{% trans 'Submit' %}">
          <input type="button" name="" class="btn btn-outline-secondary" value="{% trans 'Print' %}">
          <a href="{% url 'staff:invoice_create' %}" class="btn btn-outline-secondary">{% trans 'Clear' %}</a>
        </form>


      </div>
    </div>

  </div>

</div>

</div>
{% endblock %}

{% block script %}
<script language="javascript" type="text/javascript">
  function popitup(url) {
    newwindow = window.open(url, '{{title}}', 'height=350,width=150');
    if (window.focus) {
      newwindow.focus()
    }
    return false;
  }
</script>
{% endblock %}
