{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% load humanize %}

{% load crispy_forms_tags %}

{% block title %}{% trans 'Invoice create' %}{% endblock %}

{% block slaes-btn %}btn btn-secondary text-dark{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-1">
      {% include "staff/sidebar_staff.html" with barName="sales" %}
    </div>
    <div class="col-md-11">
      <div>
        <h2 class="my-4">{% trans 'Checkout' %}: {{ order.id }}</h2>
        <div class="main">
          <div class="client">

            <form class="w-50" action="" method="post">
              {{ client_search_form | crispy }}
              <input class="btn btn-outline-secondary my-4" type="submit" name="client" value="{% trans 'Search client' %}">
              {% csrf_token %}
            </form>

            {% if clients %}
            {% for client in clients %}
            <a href="{% url 'staff:invoice_checkout_client' order_id=order.id client_id=client.id %}" class="btn btn-outline-success m-1">{{ client.first_name }} {{ client.last_name }}- {{ client.phone }}</a>
            {% endfor %}
            {% endif %}


            {% if client_add_notice %}
            <a href="{% url 'client_add' %}/#addClient" onclick="return popitup('/account/client_add/#addClient')" class="btn btn-success">{% trans 'Add client' %}</a>

            {% endif %}

            {% if client %}
            <div class="mt-3 mb-4">
              <h3 class="mb-4">{% trans 'Client name' %}</h3>
              <span class=" text-light bg-success rounded p-2 col-md-4"><b>{{ client.first_name }} {{ client.last_name }}- {{ client.phone }}</span>
              <a href="{% url 'staff:remove_client_from_order' order.id %}"  class="btn btn-sm text-light bg-danger rounded p-2">{% trans 'Remove' %} {% trans 'Client' %}</a>
              {% if credit %}<span class=" text-success  p-2 col-md-4">{% trans 'Client credit' %}: {{ credit.balance | intcomma:False }}</span>
              <a href="{% url 'staff:invoice_checkout_client_credit' order_id=order.id client_id=client.id%}" class="btn btn-outline-success m-4">{% trans 'Pay with client credit' %}</a>
              {% endif %}
              <br>
            </div>
            {% endif %}
          </div>
          <div class="w-50 mt-3">
            <form class="" action="." method="post">
              <h3 class="mt-3">{% trans 'Invoice informations' %}</h3>
              <table class="table">
                <tr>
                  <th scope="row"></th>
                  <td colspan="5">{% trans 'Sum' %}</td>
                  <td>{{ order.get_total_quantity }}</td>
                  <td colspan="3"></td>
                  <td>{{ order.get_cost_after_discount | intcomma:False }}</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td colspan="9">{% trans 'Discount' %}</td>
                  <td class="text-danger">{{ order.discount | intcomma:False }}</td>

                </tr>
                <tr>
                  {% if order.shipping_cost %}
                  <th scope="row"></th>
                  <td colspan="9">{% trans 'Shipping cost' %}</td>
                  <td class="">{{ order.shipping_cost | intcomma:False }}</td>
                  {% endif %}
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td colspan="9" class="fw-bolder">{% trans 'Payable' %}</td>
                  <td class="fw-bolder">{{ order.payable | intcomma:False }}</td>
                </tr>
              </table>

              {% for field in checkout_form  %}
              <div class="fieldWrapper">
                {{ field.errors }}
                {# {{ field.label_tag }} #} {{ field | as_crispy_field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
              </div>
              {% endfor %}


              {% csrf_token %}

              <input class="btn btn-outline-secondary my-4" type="submit" name="form-save" value="{% trans 'Save changes' %}">
              <input class="btn btn-success my-4" type="submit" name="client" value="{% trans 'Submit' %}">
            </form>

            <p class="bg-warning">*{% trans 'Save the changes before making payment link' %}</p>
            {% if order and order.client %}
            <a href="{% url 'zarinpal:payment_create_order' order.id %}" class="btn btn-secondary">{% trans 'Payment link'%}</a>
            {% else %}
            <a href="#" class="btn btn-secondary disabled">{% trans 'Payment link'%}</a>
            <p class="bg-warning">*{% trans 'For making payment link, you should first add a book to invoice and add a client' %}</p>
            {% endif %}

          </div>
          {% comment %}
          <div class="my-3">
            <a href="{% url 'tools:make_invoice_pdf' order.id %}" target="_blank" class="btn btn-outline-secondary">PDF</a>
            <a href="{% url 'tools:make_invoice_pdf_a4' order.id %}" target="_blank" class="btn btn-outline-secondary">PDF A4</a>
          </div>
          {% endcomment %}
        </div>

      </div>

      <div class="">
        <h2 class="my-4">{% trans 'Invoice' %}</h2>

        {% include "staff/_order_table.html" %}

      </div>

    </div>

  </div>

</div>

</div>
{% endblock %}

{% block script %}
<script language="javascript" type="text/javascript">
  function popitup(url) {
    newwindow = window.open(url, '{{title}}', 'height=350,width=150');
    if (window.focus) {
      newwindow.focus()
    }
    return false;
  }
</script>
<script>
document.addEventListener("wheel", function(event){
    if(document.activeElement.type === "number"){
        document.activeElement.blur();
    }
});
</script>
{% endblock %}
