{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}{% trans 'Invoice create' %}{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-2">
      {% include "staff/sidebar_staff.html" with barName="sales" %}
    </div>
    <div class="col-md-10">
      <div>
        <h2>{% trans 'Create invoice' %}</h2>

        {% if order %}
        <h4>{% trans 'Client' %}</h4>
        {% trans 'Name' %} : {{ order.client }} - {% trans 'Phone' %} : {{ order.client_phone }}
        {% endif %}

        <h3 class="my-4">{% trans 'Add products' %}</h3>
        {% if order %}
        <form class="" action="{% url 'staff:invoice_create' order.id %}" method="post">
          {% else %}
          <form class="" action="{% url 'staff:invoice_create' %}" method="post">
            {% endif %}
            <div class="row">

            <div class="col-md-9">
              {{ search_form | crispy }}
              {% csrf_token %}
            </div>

            <div class="col-md-3">
              <input class="btn btn-outline-secondary form-control" type="submit" name="book" value="{% trans 'Submit' %}">
            </div>
          </div>

          </form>

          {% if results %}
          <div class="row">

            {% for result in results %}
            <div class="col-md-4">

              <a href="{% if order %}{% url 'staff:invoice_add_book' order_id=order.id book_id=result.id %}{% else %}{% url 'staff:invoice_new_add_book' book_id=result.id %}{% endif %}" class="btn btn-sm btn-outline-success m-1 fs-10 text-right">
                {{ result.name | truncatechars:30 }} - {{ result.publisher | truncatechars:15 }} - {{ result.price }} - {{ result.size }} - {{ result.cover_type }} - {% trans 'Quantity' %} {{ result.stock}}
              </a>

            </div>
            {% endfor %}

          </div>
          {% endif%}

      </div>

      <div class="">
        <h2 class="my-4">{% trans 'Invoice' %}</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{% trans 'isbn' %}</th>
              <th scope="col">{% trans 'Image' %}</th>
              <th scope="col">{% trans 'Name' %}</th>
              <th scope="col">{% trans 'Author' %}</th>
              <th scope="col" colspan="2">{% trans 'Update' %} <span class="fw-lighter">({% trans 'Remove' %} - {% trans 'Quantity' %} - {% trans 'Discount' %})</span></th>
              <th scope="col">{% trans 'Quantity' %}</th>
              <th scope="col">{% trans 'Price' %}</th>
              <th scope="col">{% trans 'Discount' %}</th>
              <th scope="col">{% trans 'Cost' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for order_line in order.lines.all %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ order_line.product.isbn }}</td>
              <td><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="" alt="{{ product.image_alt }}" width="60px" height="auto"></td>
              <td>{{ order_line.product.name }}</td>
              <td>{{ order_line.product.author }}</td>
              <td></td>
              <td>
                <form action="{% url 'staff:orderline_update' order_id=order.id orderline_id=order_line.id %}" method="post">
                  {{ update_form.remove }}
                  {{ update_form.quantity }}
                  {{ update_form.discount }}
                  {% csrf_token %}
                  <input type="submit" id="{{ order_line.id }}" name="{{ order_line.id }}" value="{% trans 'Update' %}">
                  <label for="{{ order_line.id }}"></label>
                </form>
              </td>
              <td>{{ order_line.quantity }}</td>
              <td>{{ order_line.product.price }}</td>
              <td>{{ order_line.discount }}</td>
              <td>{{ order_line.get_cost_after_discount }}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th scope="row"></th>
              <td colspan="6">{% trans 'SUM' %}</td>
              <td>{{ order.get_total_quantity }}</td>
              <td colspan="2"></td>
              <td>{{ order.get_cost_after_discount }}</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="9">{% trans 'DISCOUNT' %}</td>
              <td class="text-danger">{{ order.discount }}</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="9" class="fw-bolder">{% trans 'PAYABLE' %}</td>
              <td class="fw-bolder">{{ order.get_payable }}</td>
            </tr>
          </tfoot>
        </table>



      </div>
      <div class="my-5">
        <a href="{% url 'staff:draft_orders' %}" class="btn btn-outline-secondary">{% trans 'Save draft' %}</a>
        <a {% if order %}href="{% url 'staff:invoice_checkout' order.id %}" class="btn btn-outline-success" {% else %}href="" class="btn btn-outline-success disabled" {% endif%}>{% trans 'Submit' %}</a>
        <a onclick="window.print();return false;" class="btn btn-outline-secondary">{% trans 'Print' %}</a>
        {% if order %}
        <a href="{% url 'tools:make_invoice_pdf' order.id %}" target="_blank" class="btn btn-outline-secondary">{% trans 'PDF' %}</a>
        {% endif %}
        <a href="{% url 'staff:invoice_create' %}" class="btn btn-outline-secondary">{% trans 'Clear' %}</a>
      </div>
    </div>

  </div>

</div>

</div>
{% endblock %}

{% block script %}
<script language="javascript" type="text/javascript">
  function popitup(url) {
    newwindow = window.open(url, '{{title}}', 'height=350,width=150');
    if (window.focus) {
      newwindow.focus()
    }
    return false;
  }
</script>
{% endblock %}
