{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}{% trans 'Invoice create' %}{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-2">
      {% include "staff/sidebar_staff.html" with barName="sales" %}
    </div>
    <div class="col-md-10">
      <div>
        <h2>{% trans 'Create invoice' %}</h2>

        {% if order %}
        <h4>{% trans 'Client' %}</h4>
        {% trans 'Name' %} : {{ order.client }} - {% trans 'Phone' %} : {{ order.client_phone }}
        {% endif %}

        <h2 class="my-4">{% trans 'Add products' %}</h2>
        {% if order %}
        <form class="" action="{% url 'staff:invoice_create' order.id %}" method="post">
          {% else %}
          <form class="" action="{% url 'staff:invoice_create' %}" method="post">
            {% endif %}
            {{ isbn_search_form | crispy }}
            {% csrf_token %}
            <input class="btn btn-outline-secondary" type="submit" name="book" value="{% trans 'Submit' %}">

          </form>

      </div>

      <div class="">
        <h2 class="my-4">{% trans 'Invoice' %}</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{% trans 'isbn' %}</th>
              <th scope="col">{% trans 'Image' %}</th>
              <th scope="col">{% trans 'Name' %}</th>
              <th scope="col">{% trans 'Author' %}</th>
              <th scope="col">{% trans 'Remove' %}</th>
              <th scope="col"></th>
              <th scope="col">{% trans 'Quantity' %}</th>
              <th scope="col">{% trans 'Price' %}</th>
              <th scope="col">{% trans 'Discount' %}</th>
              <th scope="col">{% trans 'Cost' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for order_line in order.lines.all %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ order_line.product.isbn }}</td>
              <td><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="" alt="{{ product.image_alt }}" width="60px" height="auto"></td>
              <td>{{ order_line.product.name }}</td>
              <td>{{ order_line.product.author }}</td>
              <td>
                <input type="checkbox" value="{% trans 'Remove' %}">
                {% comment %}
                <form action="{% url 'cart:cart_remove' product.pk %}" method="post">
                  <input type="submit" value="{% trans 'Remove' %}">
                  {% csrf_token %}
                </form>
                {% endcomment %}
              </td>
              <td>
                <form action="{% url 'staff:orderline_update' order_id=order.id orderline_id=order_line.id %}" method="post">
                  {{ update_form.quantity }}
                  {{ update_form.discount }}
                  {% csrf_token %}
                   <input type='hidden' name="form_line_id" value="{{ order_line.id }}" />
                  <input type="submit" id="{{ order_line.id }}" name="{{ order_line.id }}" value="{% trans 'Update' %}">
                  <label for="{{ order_line.id }}"></label>
                </form>
              </td>
              <td>{{ order_line.quantity }}</td>
              <td>{{ order_line.product.price }}</td>
              <td>{{ order_line.discount }}</td>
              <td>{{ order_line.get_cost_after_discount }}</td>
            </tr>
            {% endfor %}



            <tr>
              <th scope="row"></th>
              <td colspan="5">{% trans 'SUM' %}</td>
              <td>{{ order.get_total_quantity }}</td>
              <td colspan="3"></td>
              <td>{{ order.get_total_cost }}</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="9">{% trans 'DISCOUNT' %}</td>
              <td class="text-danger">{{ order.discount }}</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="9" class="fw-bolder">{% trans 'PAYABLE' %}</td>
              <td class="fw-bolder">{{ order.get_payable }}</td>
            </tr>

          </tbody>
        </table>



      </div>
      <div class="my-5">
        <a href="{% url 'staff:draft_orders' %}" class="btn btn-outline-secondary">{% trans 'Save draft' %}</a>
        <a {% if order %}href="{% url 'staff:invoice_checkout' order.id %}" class="btn btn-outline-success"{% else %}href="" class="btn btn-outline-success disabled"{% endif%} >{% trans 'Submit' %}</a>
        <a onclick="window.print();return false;" class="btn btn-outline-secondary">{% trans 'Print' %}</a>
        <a href="{% url 'staff:invoice_create' %}" class="btn btn-outline-secondary">{% trans 'Clear' %}</a>
      </div>
    </div>

  </div>

</div>

</div>
{% endblock %}

{% block script %}
{% endblock %}
