{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% load humanize %}

{% load crispy_forms_tags %}

{% block title %}{% trans 'Invoice create' %}{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-2">
      {% include "staff/sidebar_staff.html" with barName="sales" %}
    </div>
    <div class="col-md-10">
      <div>
        <h2 class="my-4">{% trans 'Checkout' %}</h2>
        <div class="client">
          <form class="" action="." method="post">
            {{ client_search_form | crispy }}
            {{ checkout_form | crispy }}
            {% csrf_token %}
            <input class="btn btn-outline-secondary" type="submit" name="client" value="{% trans 'Submit' %}">
          </form>
        </div>

      </div>

      <div class="">
        <h2 class="my-4">{% trans 'Invoice' %}</h2>

        {% include "staff/_order_table.html" %}

      </div>

    </div>

  </div>

</div>

</div>
{% endblock %}

{% block script %}
<script language="javascript" type="text/javascript">
  function popitup(url) {
    newwindow = window.open(url, '{{title}}', 'height=350,width=150');
    if (window.focus) {
      newwindow.focus()
    }
    return false;
  }
</script>
{% endblock %}
