{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% load humanize %}

{% load crispy_forms_tags %}

{% block title %}{% trans 'Orders' %}{% endblock %}

{% block orders-btn %}btn-secondary text-dark{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-1">
      {% include "staff/sidebar_staff.html" with barName="orders" %}
    </div>
    <div class="col-md-11">
      <h2>{% trans 'List of orders' %}</h2>
      <a href="{% url 'tools:order_export_excel' criteria='approved' %}" class="my-2"><img src="{% static 'img/excel-icon.png' %}" alt="Excel icon" width="32px" height="auto"></a>
      <div class="">
        <form class="my-3" action="." method="post">
          {{ search_form | crispy }}
          {% csrf_token %}
          <input type="submit" name="" class="btn btn-outline-secondary my-2" value="{% trans 'Search' %}">
        </form>

      </div>
      <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{% trans 'Number' %}</th>
            <th scope="col">{% trans 'Client' %}
              <a href="{% url 'staff:order_list_filter' period=period channel=channel filter='-client__last_name' %}" style="text-decoration: none;">
                <img src="{% static 'img/arrow-up.svg' %}" width="20px" height="auto" alt="arrow-up">
              </a>
              <a href="{% url 'staff:order_list_filter' period=period channel=channel filter='client__last_name' %}" >
                <img src="{% static 'img/arrow-down.svg' %}" width="20px" height="auto" alt="arrow-up">
              </a>
            </th>
            <th scope="col">{% trans 'Social name' %}</th>
            {% if request.user.is_superuser %}
            <th scope="col" class="bg-success text-light" >{% if orders_statics.quantity %}{{ orders_statics.quantity }}{% endif %}</th>
            {% else %}
            <th scope="col">{% trans 'Quantity' %}</th>
            {% endif %}
            <th scope="col">{% trans 'Weight' %}</th>
            <th scope="col">{% trans 'Channel' %}</th>
            <th scope="col">{% trans 'Approved date' %}</th>
            <th scope="col">{% trans 'Payment' %}</th>
            {% if request.user.is_superuser %}
            <th scope="col" class="bg-success text-light" >{% if orders_statics.cost %}{{ orders_statics.cost | intcomma:False }}{% endif %}</th>
            {% else %}
            <th scope="col">{% trans 'Payable' %}</th>
            {% endif %}
            <th scope="col">{% trans 'Shipping method' %}</th>
            <th scope="col">{% trans 'Shipping time' %}</th>
            <th scope="col">{% trans 'Is packaged' %}</th>
            <th scope="col">
              {% trans 'Shipping' %}
              <a href="{% url 'staff:order_list_filter' period=period channel=channel filter='-shipping_status' %}" style="text-decoration: none;">
                <img src="{% static 'img/arrow-up.svg' %}" width="20px" height="auto" alt="arrow-up">
              </a>
              <a href="{% url 'staff:order_list_filter' period=period channel=channel filter='shipping_status' %}" >
                <img src="{% static 'img/arrow-down.svg' %}" width="20px" height="auto" alt="arrow-up">
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <th scope="row">{{ forloop.counter}}</th>
            <td><a href="{% url 'staff:order_detail_for_admin' order.pk %}">{{ order.pk }}</a></td>
            <td>{{ order.client }}</td>
            <td>{% if order.client.social_media_name %}{{ order.client.social_media_name }}{% endif %}</td>
            <td>{{ order.get_total_quantity }}</td>
            {# <!-- TODO: we have some problem to grab the order weight -->#}
            <td>{{ order.get_total_weight }}</td>
            <td>{{ order.get_channel_display }}</td>
            {#<td>{{ order.approved_date | date:"d, M Y" }}</td>#}
            <td>{% if order.approved_date %}{{ order.get_fa_approved }}{% endif %}</td>
            <td>{% if order.paid %}&#10004{% else %}&#10008{% endif %}</td>
            <td>{{ order.payable | intcomma:False }}</td>
            <td>{{ order.get_shipping_method_display }}</td>
            <td>{% if order.shipping_time %}{{ order.shipping_time }}{% endif %}</td>
            <td>{% if order.is_packaged %}&#10004{% endif %}</td>
            <td>{% if order.shipping_status == "full" %}&#10004 {% if order.shipped_code %}- {{ order.shipped_code }}{% endif %}{% else %}<a href="{% url 'staff:order_shipped' order.id %}" onclick="return popitup('/staff/orders/shipping/{{ order.id }}')" class="btn btn-outline-secondary">{% if order.shipping_status == "semi" %}{% trans 'Semi shipped' %}{% else %}{% trans 'Shipping' %}{% endif %}</a>{% endif %}</td>
            <td><a href="{% url 'tools:print_invoice' order.id %}" target="_blank" class="btn btn-outline-secondary ">{% trans 'Print' %}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- end of table wrappper -->
    </div>
    {% include "shop/pagination.html" with page=orders %}
  </div>
</div>
{% endblock %}

{% block script %}
<script language="javascript" type="text/javascript">
  function popitup(url) {
    newwindow = window.open(url, '{{title}}', 'height=350,width=150');
    if (window.focus) {
      newwindow.focus()
    }
    return false;
  }
</script>
{% endblock %}
