{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% block title %}{% trans 'Orders' %}{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-2">
    {% include "staff/sidebar_staff.html" with barName="orders" %}
    </div>
    <div class="col-md-10">
      <h2>Create Order</h2>
      <div class="">
        <form class="" action="." method="post">
          {{ form.as_p }}
          {% csrf_token %}
          <input type="submit" name="" value="{% trans 'Submit' %}" class="btn btn-outline-secondary">
        </form>
      </div>
    </div>

  </div>

</div>
{% endblock %}
