{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% block title %}{% trans 'Orders' %}{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-2">
      {% include "staff/sidebar_staff.html" with barName="orders" %}
    </div>
    <div class="col-md-10">
      <h2>{% trans 'Order details' %} : {{ order.id }}</h2>
      <div class="">
        <a href="{% url 'tools:print_invoice' order.id %}" target="_blank" class="btn btn-lg btn-success my-3">{% trans 'Print' %}</a>
      </div>
      <table class="table table-striped">
        <tr>
          <td>{%trans 'Registrar' %}</td>
          <td>{{ order.user }}</td>
        </tr>
        <tr>
          <td>{%trans 'Approver' %}</td>
          <td>{{ order.approver }}
            <br>{% if order.approved_date %}{{ order.approved_date}}{% endif %}
          </td>
        </tr>
        <tr>
          <td>{%trans 'Client' %}</td>
          <td>{{ order.client }}</td>
        </tr>
        <tr>
          <td>{%trans 'Order Status' %}</td>
          <td>{{ order.status }}</td>
        </tr>
        <tr>
          <td>{%trans 'Channel' %}</td>
          <td>{{ order.channel }}</td>
        </tr>
        <tr>
          <td>{%trans 'Note' %}</td>
          <td>{{ order.customer_note }}</td>
        </tr>
        <tr>
          <td>{%trans 'Billing address' %}</td>
          <td>{{ order.billing_address.get_full_address }}</td>
        </tr>
        <tr>
          <td>{%trans 'Shipping address' %}</td>
          <td>{{ order.shipping_address.get_full_address }}</td>
        </tr>
        <tr>
          <td>{%trans 'Shipping method' %}</td>
          <td>{{ order.shipping_method }}</td>
        </tr>

      </table>
      <h2 class="mt-5">{% trans 'Invoice' %}</h2>
      {% include "staff/_order_table.html" %}

      <div class="">

        {#<a href="{% url 'staff:order_shipping' order.id %}" class="btn btn-outline-warning me-3">{% trans 'Shipping management' %}</a>#}
        <a href="{% url 'tools:make_invoice_pdf' order.id %}" target="_blank" class="btn btn-outline-secondary">{% trans 'PDF' %}</a>
        <a href="{% url 'tools:make_invoice_pdf_a4' order.id %}" target="_blank" class="btn btn-outline-secondary">{% trans 'PDF A4' %}</a>
      </div>
    </div>
  </div>

</div>
{% endblock %}
