{#{% extends "_base_popup.html" %}#}
{% extends "_base.html" %}
{% load i18n %}

{% load static %}

{% load humanize %}

{% load crispy_forms_tags %}

{% block title %}{% trans 'Price management' %}{% endblock %}

{% block purchases-btn %}btn-secondary text-dark{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">

    <div class="col-md-12">
      <h2>{% trans 'Price variations' %} : {{ product.name }} - {{ product.isbn }}</h2>
      <table class="table table-striped">
        <tr>
          <td>{%trans 'Main price' %}</td>
          <td>{{ product.price | intcomma:False }}</td>
          <td>{{ product.stock }}</td>
        </tr>

        {% if product.price_1 %}
        <tr>
          <td>{%trans 'Price variation 1' %}</td>
          <td>{{ product.price_1 | intcomma:False }}</td>
          <td>{{ product.stock_1 }}</td>
          <td>{% if product.stock_1 == 0 %}<a href="{% url 'orders:price_remove' purchase_id=purchase.id product_id=product.id variation='new v1' %}" class="btn btn-outline-danger">{% trans 'Remove' %}</a>{% endif %}</td>
        </tr>
        {% endif %}

        {% if product.price_2 %}
        <tr>
          <td>{%trans 'Price variation 2' %}</td>
          <td>{{ product.price_2 | intcomma:False }}</td>
          <td>{{ product.stock_2 }}</td>
          <td>{% if product.stock_2 == 0 %}<a href="{% url 'orders:price_remove' purchase_id=purchase.id product_id=product.id variation='new v2' %}" class="btn btn-outline-danger">{% trans 'Remove' %}</a>{% endif %}</td>
        </tr>
        {% endif %}

        {% if product.price_3 %}
        <tr>
          <td>{%trans 'Price variation 3' %}</td>
          <td>{{ product.price_3 | intcomma:False }}</td>
          <td>{{ product.stock_3 }}</td>
          <td>{% if product.stock_3 == 0 %}<a href="{% url 'orders:price_remove' purchase_id=purchase.id product_id=product.id variation='new v3' %}" class="btn btn-outline-danger">{% trans 'Remove' %}</a>{% endif %}</td>
        </tr>
        {% endif %}

        {% if product.price_4 %}
        <tr>
          <td>{%trans 'Price variation 4' %}</td>
          <td>{{ product.price_4 | intcomma:False }}</td>
          <td>{{ product.stock_4 }}</td>
          <td>{% if product.stock_4 == 0 %}<a href="{% url 'orders:price_remove' purchase_id=purchase.id product_id=product.id variation='new v4' %}" class="btn btn-outline-danger">{% trans 'Remove' %}</a>{% endif %}</td>
        </tr>
        {% endif %}

        {% if product.price_5 %}
        <tr>
          <td>{%trans 'Price variation 5' %}</td>
          <td>{{ product.price_5 | intcomma:False }}</td>
          <td>{{ product.stock_5 }}</td>
          <td>{% if product.stock_5 == 0 %}<a href="{% url 'orders:price_remove' purchase_id=purchase.id product_id=product.id variation='new v5' %}" class="btn btn-outline-danger">{% trans 'Remove' %}</a>{% endif %}</td>
        </tr>
        {% endif %}


        <tr>
          <td>{%trans 'Price used' %}</td>
          <td>{{ product.price_used | intcomma:False }}</td>
          <td>{{ product.stock_used }}</td>
        </tr>
      </table>
      {#<!--  if form is submitted  we will close it automatically--> #}
      {% if form_submit %}
      <script type="text/javascript">

          setTimeout(function() {
            window.close();
          }, 4000);

      </script>

      {% else %}
      <h3 class="mt-4">{% trans 'Add a price variation' %}</h3>
      <form class="w-50" method="post" action=".">
        {% csrf_token %}
        {{ price_form | crispy }}
        <input type="submit" name="" value="{% trans 'Submit' %} " class="btn btn-outline-success my-3" >
      </form>
      {% endif %}




    </div>
  </div>

</div>
{% endblock %}

{% block script %}
<script>
  function xSubmit(frm) {
    $.post($(frm).attr('action'), $(frm).serializeArray());
    alert("The request has been submitted.");
    window.close();
  }
</script>
<script>
document.addEventListener("wheel", function(event){
    if(document.activeElement.type === "number"){
        document.activeElement.blur();
    }
});
</script>
{% endblock %}
