{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% load humanize %}

{% load crispy_forms_tags %}

{% block title %}{% trans 'Products stock and price management' %}{% endblock %}

{% block products-btn %}btn-secondary text-dark{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-1">
      {% include "staff/sidebar_staff.html" with barName="products" %}
    </div>
    <div class="col-md-6">
      <h2 class="my-4">{% trans 'Products stock and price management' %}</h2>
      <h3>{% trans 'Product' %}: <a href="{% url 'staff:product_update' product.id %}" target="_blank">{{ product }}</a></h3>
      <table class="table table-striped w-50">
        <tr>
          <td>{% trans 'Product ID.' %}</td>
          <td>{{ product.id }}</td>
        </tr>
        <tr>
          <td>{% trans 'ISBN' %}</td>
          <td>{{ product.isbn }}</td>
        </tr>
        <tr>
          <td>{% trans 'Publisher' %}</td>
        <td>{{ product.publisher }}</td>
      </tr>
      <tr>
        <td>{% trans 'Page number' %}</td>
        <td>{{ product.page_namber }}</td>
      </tr>
      <tr>
        <td>{% trans 'Main price' %}</td>
        {% if product.price == 0 %}
        {% if product.about == '*' %}
        <td><span class="text-warning">{% trans 'Not in market'%}</span></td>
        {% endif %}
        {% else %}
        <td>{{ product.price }}</td>
        {% endif %}
      </tr>
      <tr>
        <td>{% trans 'Main stock' %}</td>
        <td>{{ product.stock }}</td>
      </tr>
      <tr>
        <td>{% trans 'Price used' %}</td>
        <td>{{ product.price_used }}</td>
      </tr>
      <tr>
        <td>{% trans 'Stock used' %}</td>
        <td>{{ product.stock_used }}</td>
      </tr>
      </table>

      <h3 class=" mt-5">{% trans 'Price and stock management' %}</h3>
      <div class=" ">
        <form class="" action="." method="post">
          {{ price_form | crispy }}
          {% csrf_token %}
          <input class="btn btn-outline-secondary my-3" type="submit" name=""value="{% trans 'Submit' %}">
        </form>
      </div>

    </div>

    <div class="col-md-4">
      <p>{% trans 'Notice' %}</p>
      <ul>
        <li>{% trans 'If you increase the main price it change the main price of the product and does not change the or add any price rows' %}</li>
        <li>{% trans 'You could not decrease the main price' %}</li>
        {% if request.user.is_superuser or request.user.is_manager %}
        <li>{% trans 'If you change the main stock a new purchase with 100 percent discount will created with the name of Stock-admin' %}</li>
        <li>{% trans 'If you decrease the stock just the databse decreases' %}</li>
        <li>{% trans 'If you increase or decrease the used stock and price it just change the databse' %}</li>
        <li>{% trans 'Change the used price is as same as Bahman key' %}</li>
        {% endif %}
      </ul>
    </div>

  </div>

</div>
{% endblock %}
{% block script %}
<script>
document.addEventListener("wheel", function(event){
    if(document.activeElement.type === "number"){
        document.activeElement.blur();
    }
});
</script>
{% endblock %}
