{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% block title %}{% trans 'Product create' %}{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-2">
      {% include "staff/sidebar_staff.html" with barName="products" %}
    </div>
    <div class="col-md-10">
      <h2>{% trans 'Product create' %}</h2>
      <form class="" action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit"  name="cancel" class="btn btn-danger">{% trans 'Cancel' %}</button>
          <input type="submit"  class="btn btn-success" value="{% trans 'Submit' %}">
          <button type="submit"  name="another" class="btn btn-danger">{% trans 'Save and add another' %}</button>
        </div>


      </form>


    </div>

  </div>

</div>
{% endblock %}
