{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% load crispy_forms_tags %}
{% block title %}{% trans 'Product create' %}{% endblock %}

{% block products-btn %}btn-secondary text-dark{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-2">
      {% include "staff/sidebar_staff.html" with barName="products" %}
    </div>
    <div class="col-md-8">
      <h2>{% trans 'Product create' %}</h2>
      {% comment %}
      <p>{% trans 'Notice '%}:</p>
      <ul>
        <li>{% trans 'If you add other prices check the field' %} <b>Has other prices</b></li>
        <li>{% trans 'For define used book you should add stock used or price used' %}</li>
        <li>{% trans 'Usually you should not add price 1 to 5 unless some problem happens these prices are made in purchase invoice' %}</li>
        <li>{% trans 'All prices and stocks should be zero' %}</li>
      </ul>
      {% endcomment %}
      <form class="" action="." method="post" enctype="multipart/form-data">
        {{ form | crispy }}
        {% csrf_token %}
        <div class="col-sm-offset-2 col-sm-10">
          {# <!-- This button prevent form from enter button submit --> #} 
          <button type="submit" disabled style="display: none" aria-hidden="true"></button>
          <a href="{% url 'staff:products' %}"  name="cancel" class="btn btn-danger">{% trans 'Cancel' %}</a>
          <input type="submit"  class="btn btn-success" value="{% trans 'Submit' %}">
          <button type="submit"  name="another" class="btn btn-danger" value="{% trans 'Submit' %}"">{% trans 'Save and add another' %}</button>
        </div>


      </form>


    </div>

  </div>

</div>
{% endblock %}
{% block script %}
<script>
document.addEventListener("wheel", function(event){
    if(document.activeElement.type === "number"){
        document.activeElement.blur();
    }
});
$(document).on("keydown", ":input:not(textarea)", function(event) {
    if (event.key == "Enter") {
        event.preventDefault();
    }
});
</script>

{% endblock %}
