{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% load humanize %}

{% load crispy_forms_tags %}

{% block title %}{% trans 'Products' %}{% endblock %}

{% block products-btn %}btn-secondary text-dark{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
      <div class="col-md-2">
        {% include "staff/sidebar_staff.html" with barName="products" %}
      </div>
      <div class="col-md-10">
    <h2>{% trans 'List of products' %}</h2>
    <div class="my-3">
      <a href="{% url 'tools:product_export_excel' %}" class=""><img src="{% static 'img/excel-icon.png' %}" alt="Excel icon" width="32px" height="auto"></a>

    </div>
    <form class="" action="." method="post">
      <div class="row">

      <div class="col-md-9">
        {{ search_form | crispy }}
        {% csrf_token %}
      </div>

      <div class="col-md-3">
        <input class="btn btn-outline-secondary form-control" type="submit" name="book" value="{% trans 'Submit' %}">
      </div>
    </div>

    </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{% trans 'Edit' %}</th>
          <th scope="col">{% trans 'ISBN' %}</th>
          <th scope="col">{% trans 'Name' %}</th>
          <th scope="col">{% trans 'Stock' %}</th>
          <th scope="col">{% trans 'Price' %}<span class="small"> ({% trans 'Rial' %})</span></th>
          <th scope="col">{% trans 'Other prices' %}</th>
          <th scope="col">{% trans 'Used' %}</th>
          <th scope="col">{% trans 'Used stock' %}</th>
          <th scope="col">{% trans 'Store position' %}</th>
          <th scope="col">{% trans 'Publisher' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <th scope="row">{{ product.pk }}</th>
          <td><a href="{% url 'staff:product_update' product.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
          <th scope="row">{{ product.isbn }}</th>
          <td><a href="{% url 'shop:product_detail' product.pk %}">{{ product.name }}</a></td>
          <td>{{ product.stock }}</td>
          <td>{{ product.price | intcomma:False }}</td>
          <td>{% if product.has_other_prices %}&#10004{% endif %}</td>
          <td>{{ product.price_used | intcomma:False }}</td>
          <td>{{ product.stock_used  }}</td>
          <td>{{ product.store_positon }}</td>
          <td>{{ product.publisher }}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
    {% include "shop/pagination.html" with page=products %}
    </div>


  </div>

</div>
{% endblock %}
