{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% block title %}{% trans 'Sales' %}{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-2">
      {% include "staff/sidebar_staff.html" with barName="sales" %}
    </div>
    <div class="col-md-10">
      <h2>List of orders</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{% trans 'order' %}</th>
            <th scope="col">{% trans 'user' %}</th>
            <th scope="col">{% trans 'paid' %}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="#">1234</a></td>
            <td>rahim</td>
            <td>&#10004</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td><a href="#">1235</a></td>
            <td>sorme</td>
            <td>&#10008</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>
{% endblock %}
