{% load i18n %}
{% if barName == "products" %}
<div class="sidebar drop_shadow border border-1 rounded-2">
  <p><a href="{% url 'staff:product_create'%}">{% trans 'Create product' %}</a></p>
  <p><a href="{% url 'staff:products'%}">{% trans 'List of products' %}</a></p>
  <p><a href="{% url 'staff:category_create'%}">{% trans 'Create a new category' %}</a></p>
  <p><a href="{% url 'staff:categories' %}">{% trans 'List of categories' %}</a></p>
</div>
{% endif %}

{% if barName == "sales" %}
<div class="sidebar drop_shadow border border-1 rounded-2">
  <p><a href="{% url 'staff:invoice_create' %}">{% trans 'New invoice' %}</a></p>
  <p><a href="{% url 'staff:draft_orders' %}">{% trans 'List of draft orders' %}</a></p>
  <p><a href="{% url 'client_add' %}/#addClient" onclick="return popitup('/account/client_add/#addClient')" class="">{% trans 'Add client' %}</a></p>
  <p><a href="{% url 'zarinpal:payment_create' %}">{% trans 'Create a payment link' %}</a></p>
  <p><a href="{% url 'zarinpal:payment_list' %}">{% trans 'Payment list' %}</a></p>
</div>
{% endif %}

{% if barName == "orders" %}
<div class="sidebar drop_shadow border border-1 rounded-2">
  <p><a href="{% url 'staff:order_list' 'all' %}">{% trans 'List of orders' %}</a></p>
  <p><a href="{% url 'staff:order_list' 'day' %}">{% trans 'Last day' %}</a></p>
  <p><a href="{% url 'staff:order_list' 'week' %}">{% trans 'Last week' %}</a></p>
  <p><a href="{% url 'staff:order_list' 'month' %}">{% trans 'Last month' %}</a></p>

</div>
{% endif %}

{% if barName == "purchase" %}
<div class="sidebar drop_shadow border border-1 rounded-2">
  <p><a href="#">{% trans 'New purchase invoice' %}</a></p>
  <p><a href="#">{% trans 'List of purchases' %}</a></p>
</div>
{% endif %}

{% if barName == "warehouse" %}
<div class="sidebar drop_shadow border border-1 rounded-2">
  <p><a href="#">{% trans 'Warehouse Managment' %}</a></p>

</div>
</div>
{% endif %}

{% if barName == "clients" %}
<div class="sidebar drop_shadow border border-1 rounded-2">
  <p><a href="{% url 'client_list' %}">{% trans 'List of clients' %}</a></p>
  <p><a href="{% url 'client_add' %}">{% trans 'Add client' %}</a></p>

</div>
{% endif %}


{% block script %}
<script language="javascript" type="text/javascript">
  function popitup(url) {
    newwindow = window.open(url, '{{title}}', 'height=350,width=150');
    if (window.focus) {
      newwindow.focus()
    }
    return false;
  }
</script>
{% endblock %}
