{% load i18n %}
{% if barName == "products" %}
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:products'%}">{% trans 'List of products' %}</a>
  <br>
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:product_create'%}">{% trans 'Create product' %}</a>

  <br>
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:collection_management' %}">{% trans 'Collection managment' %}</a>
  <br>
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'shop:store_book_search' state='used' %}">{% trans 'Search in used books' %}</a>
  <br>
  {#<a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:category_create'%}">{% trans 'Create a new category' %}</a>#}
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:categories' %}">{% trans 'List of categories' %}</a>
  <br>
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:craft_list' %}">{% trans 'List of crafts' %}</a>
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:craft_create' %}">{% trans 'Create craft product' %}</a>
  <br>
  <a href="{% url 'shop:publisher_list' %}" class="btn btn-sm btn-outline-secondary d-block m-1">{% trans 'Publishers' %}</a>
  <a href="{% url 'shop:publisher_create' %}" class="btn btn-sm btn-outline-secondary d-block m-1">{% trans 'Create publisher' %}</a>
  {% if request.user.is_superuser %}
  <br>
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'tools:duplicate_book_name' %}">{% trans 'Duplicate books' %}</a>
  {#<a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'tools:export_publisher' %}">{% trans 'Export publishers' %}</a>#}
  {#<a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'tools:used_product_before_5' %}">{% trans 'used product sold befor 5 march' %}</a>#}
  {% endif %}

{% endif %}

{% if barName == "sales" %}
<a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:invoice_create' %}" accesskey="a" data-bs-toggle="tooltip" data-bs-placement="left" title="alt + shift + a">{% trans 'New invoice' %}</a>
<a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:draft_orders' %}">{% trans 'List of draft orders' %}</a>
<a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'client_add' %}/#addClient" onclick="return popitup('/account/client_add/#addClient')" class="">{% trans 'Add client' %}</a>
<a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'zarinpal:payment_create' %}">{% trans 'Create a payment link' %}</a>
<a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'zarinpal:payment_list' %}">{% trans 'Payment list' %}</a>
<a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:order_list' period='all' channel='cashier' %}">{% trans 'Cashier sales' %}</a>
<a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:order_list_by_country' %}">{% trans 'Sales by country' %}</a>
{% if request.user.is_superuser %}
<a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:sales_by_vendor' %}">{% trans 'Sales by vendor' %}</a>
{% endif %}
{% endif %}

{% if barName == "orders" %}
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:order_list' period='all' channel='all' %}">{% trans 'All approved orders' %}</a>
  <br>
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:order_list' period='all' channel='collectable' %}">{% trans 'Collectable orders' %}</a>
  {% if yesterday %}
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:order_list' period=yesterday channel='collectable' %}">{% trans 'Last day' %}</a>
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:order_list' period=last_week channel='collectable' %}">{% trans 'Last week' %}</a>
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:order_list' period=last_month channel='collectable' %}">{% trans 'Last month' %}</a>
  {% endif %}

  <br>
  {% if channel_list %}
  {% for channel in channel_list %}
    <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:order_list' period='all' channel=channel %}">{{ channel }}</a>
  {% endfor %}
  {% endif %}

  <br>
  {% if request.user.is_superuser or request.user.is_manager %}
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:full_shipped_list' %}">{% trans 'Full shipped list' %}</a>
  {% endif %}
{% endif %}

{% if barName == "purchase" %}
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'orders:purchase_create' %}">{% trans 'New purchase invoice' %}</a>
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'orders:purchase_list' %}">{% trans 'List of purchases' %}</a>
  <br>
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:vendor_add' %}">{% trans 'Add vendor' %}</a>
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:vendor_list' %}">{% trans 'Vendor list' %}</a>
{% endif %}

{% if barName == "warehouse" %}
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:sold_products' days=1 %}">{% trans 'Sold products' %}</a>
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:purchased_products' %}">{% trans 'Purchased products' %}</a>
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:zero_stock_list' %}">{% trans 'Zero stock' %}</a>
  {#<a class="btn btn-sm btn-outline-secondary d-block m-1" href="">{% trans 'Warehouse Managment' %}</a>#}

  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:refund_from_client' %}">{% trans 'Refund a product' %}</a>
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'staff:refund_list_client' %}">{% trans 'List of refunds' %}</a>
{% endif %}

{% if barName == "clients" %}
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'client_list' %}">{% trans 'List of clients' %}</a>
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'client_add' %}" accesskey="c" data-bs-toggle="tooltip" data-bs-placement="left" title="alt + shift + c">{% trans 'Add client' %}</a>
  <br>
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'client_most_valuable' %}">{% trans 'Most valuable clients' %}</a>

{% endif %}

{% if barName == "reports" %}
  {% if request.user.is_superuser or request.user.is_manager %}
  <a class="btn btn-sm btn-outline-secondary d-block m-1" href="{% url 'orders:best_selling_books' %}">{% trans 'Best selling books' %}</a>
  {% endif %}
{% endif %}

{% if barName == "tickets" %}
    <a href="{% url 'tickets:tickets_list' %}" class="btn btn-sm btn-outline-secondary d-block m-1">{% trans 'Tickets list' %}</a>
    <a href="{% url 'tickets:create_ticket' %}" class="btn btn-sm btn-outline-secondary d-block m-1">{% trans 'Create ticket' %}</a>
{% endif %}

{% block script %}
<script language="javascript" type="text/javascript">
  function popitup(url) {
    newwindow = window.open(url, '{{title}}', 'height=350,width=150');
    if (window.focus) {
      newwindow.focus()
    }
    return false;
  }
</script>
{% endblock %}
