{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% block title %}{% trans 'Sold products' %}{% endblock %}

{% block warehouses-btn %}btn-secondary text-dark{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-2">
      {% include "staff/sidebar_staff.html" with barName="warehouse" %}
    </div>
    <div class="col-md-10">
      <h2>{% trans 'Sold products'%}</h2>
      <table class="table table-striped">
        <thead>
          <th scope="">{% trans 'Product ID' %}</th>
          <th scope="">{% trans 'ISBN' %}</th>
          <th scope="">{% trans 'Name' %}</th>
          <th scope="">{% trans 'Quantity' %}</th>
          <th scope="">{% trans 'Status' %}</th>
          <th scope="">{% trans 'Date' %}</th>
          <th scope="">{% trans 'Quantity in stock' %}</th>


        </thead>
        <tbody>
          {% for line, item  in added_line.items %}
          <tr>
          <td>{{ line }}</td>

          <td>{{ item.isbn }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>
            {% if 'new' in item.variaton %}
            <span class="border border-success p-1 rounded">{% trans 'New' %}</span>
            {% else %}
            <span class="border border-warning p-1 rounded">{% trans 'Used' %}</span>
            {% endif %}
          </td>
          <td>{{ item.created }}</td>

          <td><span class="{% if item.stock <= 0 %}bg-warning text-dark p-2 rounded{% endif %}">{{ item.stock }}</span></td>
          {% for item in line %}
          {% endfor %}
          {%comment %}
{% endcomment%}

          </tr>
          {% endfor %}

        </tbody>
      </table>



    </div>

  </div>
</div>
{% endblock %}
