{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% block title %}{% trans 'Sold products' %}{% endblock %}

{% block warehouses-btn %}btn-secondary text-dark{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-1">
      {% include "staff/sidebar_staff.html" with barName="warehouse" %}
    </div>
    <div class="col-md-11">
      <h2>{% trans 'Sold products'%} {% if fa_date%}: {{ fa_date }}{% endif %}</h2>
      <!-- Export to excel -->
      <p class="my-3">
        {% if date %}
        <a href="{% url 'tools:export_excel_sold_products_date' date=date %}" class="my-2">
          <img src="{% static 'img/excel-icon.png' %}" alt="Excel icon" width="32px" height="auto">
          <span>{{ fa_date }}</span>
        </a>
        {% endif %}
        {% if days %}
        <a href="{% url 'tools:export_excel_sold_products' days=days %}" class="my-2">
          <img src="{% static 'img/excel-icon.png' %}" alt="Excel icon" width="32px" height="auto">
          <span>{{ days }} {% trans "Day" %}</span>
        </a>
        {% endif %}
        {% if period %}
        <a href="{% url 'tools:export_excel_sold_products_date_period' period=period %}" class="my-2">
          <img src="{% static 'img/excel-icon.png' %}" alt="Excel icon" width="32px" height="auto">
          <span>{{ period }}</span>
        </a>
        {% endif %}
      </p>
      <!-- Choose date -->
      <p>
        {% trans 'Farvardin' %}:
        <a href="{% url 'staff:sold_products_date' date='20220420' %}" class="btn btn-sm {% if date_raw == "20220420" %}btn-success{% else %}btn-outline-secondary{% endif %}">31</a>
        <a href="{% url 'staff:sold_products_date' date='20220419' %}" class="btn btn-sm {% if date_raw == "20220419" %}btn-success{% else %}btn-outline-secondary{% endif %}">30</a>
        <a href="{% url 'staff:sold_products_date' date='20220418' %}" class="btn btn-sm {% if date_raw == "20220418" %}btn-success{% else %}btn-outline-secondary{% endif %}">29</a>
        <a href="{% url 'staff:sold_products_date' date='20220417' %}" class="btn btn-sm {% if date_raw == "20220417" %}btn-success{% else %}btn-outline-secondary{% endif %}">28</a>
        <a href="{% url 'staff:sold_products_date' date='20220416' %}" class="btn btn-sm {% if date_raw == "20220416" %}btn-success{% else %}btn-outline-secondary{% endif %}">27</a>
        <a href="{% url 'staff:sold_products_date' date='20220415' %}" class="btn btn-sm {% if date_raw == "20220415" %}btn-success{% else %}btn-outline-secondary{% endif %}">26</a>
        <a href="{% url 'staff:sold_products_date' date='20220414' %}" class="btn btn-sm {% if date_raw == "20220414" %}btn-success{% else %}btn-outline-secondary{% endif %}">25</a>
        <a href="{% url 'staff:sold_products_date' date='20220413' %}" class="btn btn-sm {% if date_raw == "20220413" %}btn-success{% else %}btn-outline-secondary{% endif %}">24</a>
        <a href="{% url 'staff:sold_products_date' date='20220412' %}" class="btn btn-sm {% if date_raw == "20220412" %}btn-success{% else %}btn-outline-secondary{% endif %}">23</a>
        <a href="{% url 'staff:sold_products_date' date='20220411' %}" class="btn btn-sm {% if date_raw == "20220411" %}btn-success{% else %}btn-outline-secondary{% endif %}">22</a>
        <a href="{% url 'staff:sold_products_date' date='20220410' %}" class="btn btn-sm {% if date_raw == "20220410" %}btn-success{% else %}btn-outline-secondary{% endif %}">21</a>
        <a href="{% url 'staff:sold_products_date' date='20220409' %}" class="btn btn-sm {% if date_raw == "20220409" %}btn-success{% else %}btn-outline-secondary{% endif %}">20</a>
        <a href="{% url 'staff:sold_products_date' date='20220408' %}" class="btn btn-sm {% if date_raw == "20220408" %}btn-success{% else %}btn-outline-secondary{% endif %}">19</a>
        <a href="{% url 'staff:sold_products_date' date='20220407' %}" class="btn btn-sm {% if date_raw == "20220407" %}btn-success{% else %}btn-outline-secondary{% endif %}">18</a>
        <a href="{% url 'staff:sold_products_date' date='20220406' %}" class="btn btn-sm {% if date_raw == "20220406" %}btn-success{% else %}btn-outline-secondary{% endif %}">17</a>
        <a href="{% url 'staff:sold_products_date' date='20220405' %}" class="btn btn-sm {% if date_raw == "20220405" %}btn-success{% else %}btn-outline-secondary{% endif %}">16</a>
        <a href="{% url 'staff:sold_products_date' date='20220404' %}" class="btn btn-sm {% if date_raw == "20220404" %}btn-success{% else %}btn-outline-secondary{% endif %}">15</a>
        <a href="{% url 'staff:sold_products_date' date='20220403' %}" class="btn btn-sm {% if date_raw == "20220403" %}btn-success{% else %}btn-outline-secondary{% endif %}">14</a>
        <a href="{% url 'staff:sold_products_date' date='20220402' %}" class="btn btn-sm {% if date_raw == "20220402" %}btn-success{% else %}btn-outline-secondary{% endif %}">13</a>
        <a href="{% url 'staff:sold_products_date' date='20220401' %}" class="btn btn-sm {% if date_raw == "20220401" %}btn-success{% else %}btn-outline-secondary{% endif %}">12</a>
        <a href="{% url 'staff:sold_products_date' date='20220331' %}" class="btn btn-sm {% if date_raw == "20220331" %}btn-success{% else %}btn-outline-secondary{% endif %}">11</a>
        <a href="{% url 'staff:sold_products_date' date='20220330' %}" class="btn btn-sm {% if date_raw == "20220330" %}btn-success{% else %}btn-outline-secondary{% endif %}">10</a>
        <a href="{% url 'staff:sold_products_date' date='20220329' %}" class="btn btn-sm {% if date_raw == "20220329" %}btn-success{% else %}btn-outline-secondary{% endif %}">9</a>
        <a href="{% url 'staff:sold_products_date' date='20220328' %}" class="btn btn-sm {% if date_raw == "20220328" %}btn-success{% else %}btn-outline-secondary{% endif %}">8</a>
        <a href="{% url 'staff:sold_products_date' date='20220327' %}" class="btn btn-sm {% if date_raw == "20220327" %}btn-success{% else %}btn-outline-secondary{% endif %}">7</a>
        <a href="{% url 'staff:sold_products_date' date='20220326' %}" class="btn btn-sm {% if date_raw == "20220326" %}btn-success{% else %}btn-outline-secondary{% endif %}">6</a>
        <a href="{% url 'staff:sold_products_date' date='20220325' %}" class="btn btn-sm {% if date_raw == "20220325" %}btn-success{% else %}btn-outline-secondary{% endif %}">5</a>
        <a href="{% url 'staff:sold_products_date' date='20220324' %}" class="btn btn-sm {% if date_raw == "20220324" %}btn-success{% else %}btn-outline-secondary{% endif %}">4</a>
        <a href="{% url 'staff:sold_products_date' date='20220323' %}" class="btn btn-sm {% if date_raw == "20220323" %}btn-success{% else %}btn-outline-secondary{% endif %}">3</a>
        <a href="{% url 'staff:sold_products_date' date='20220322' %}" class="btn btn-sm {% if date_raw == "20220322" %}btn-success{% else %}btn-outline-secondary{% endif %}">2</a>
        <a href="{% url 'staff:sold_products_date' date='20220321' %}" class="btn btn-sm {% if date_raw == "20220321" %}btn-success{% else %}btn-outline-secondary{% endif %}">1</a>
        <a href="{% url 'staff:sold_products_date_period' period="20220321-20220420" %}" class="btn btn-sm {% if period == "20220321-20220420" %}btn-success{% else %}btn-outline-success{% endif %} ms-2">{% trans "Farvardin" %}</a>
      </p>
      <p>
        {% trans 'Esfand' %}:
        <a href="{% url 'staff:sold_products_date' date='20220320' %}" class="btn btn-sm {% if date_raw == "20220320" %}btn-success{% else %}btn-outline-secondary{% endif %}">29</a>
        <a href="{% url 'staff:sold_products_date' date='20220319' %}" class="btn btn-sm {% if date_raw == "20220319" %}btn-success{% else %}btn-outline-secondary{% endif %}">28</a>
        <a href="{% url 'staff:sold_products_date' date='20220318' %}" class="btn btn-sm {% if date_raw == "20220318" %}btn-success{% else %}btn-outline-secondary{% endif %}">27</a>
        <a href="{% url 'staff:sold_products_date' date='20220317' %}" class="btn btn-sm {% if date_raw == "20220317" %}btn-success{% else %}btn-outline-secondary{% endif %}">26</a>
        <a href="{% url 'staff:sold_products_date' date='20220316' %}" class="btn btn-sm {% if date_raw == "20220316" %}btn-success{% else %}btn-outline-secondary{% endif %}">25</a>
        <a href="{% url 'staff:sold_products_date' date='20220315' %}" class="btn btn-sm {% if date_raw == "20220315" %}btn-success{% else %}btn-outline-secondary{% endif %}">24</a>
        <a href="{% url 'staff:sold_products_date' date='20220314' %}" class="btn btn-sm {% if date_raw == "20220314" %}btn-success{% else %}btn-outline-secondary{% endif %}">23</a>
        <a href="{% url 'staff:sold_products_date' date='20220313' %}" class="btn btn-sm {% if date_raw == "20220313" %}btn-success{% else %}btn-outline-secondary{% endif %}">22</a>
        <a href="{% url 'staff:sold_products_date' date='20220312' %}" class="btn btn-sm {% if date_raw == "20220312" %}btn-success{% else %}btn-outline-secondary{% endif %}">21</a>
        <a href="{% url 'staff:sold_products_date' date='20220311' %}" class="btn btn-sm {% if date_raw == "20220311" %}btn-success{% else %}btn-outline-secondary{% endif %}">20</a>
        <a href="{% url 'staff:sold_products_date' date='20220310' %}" class="btn btn-sm {% if date_raw == "20220310" %}btn-success{% else %}btn-outline-secondary{% endif %}">19</a>
        <a href="{% url 'staff:sold_products_date' date='20220309' %}" class="btn btn-sm {% if date_raw == "20220309" %}btn-success{% else %}btn-outline-secondary{% endif %}">18</a>
        <a href="{% url 'staff:sold_products_date' date='20220308' %}" class="btn btn-sm {% if date_raw == "20220308" %}btn-success{% else %}btn-outline-secondary{% endif %}">17</a>
        <a href="{% url 'staff:sold_products_date' date='20220307' %}" class="btn btn-sm {% if date_raw == "20220307" %}btn-success{% else %}btn-outline-secondary{% endif %}">16</a>
        <a href="{% url 'staff:sold_products_date' date='20220306' %}" class="btn btn-sm {% if date_raw == "20220306" %}btn-success{% else %}btn-outline-secondary{% endif %}">15</a>
        <a href="{% url 'staff:sold_products_date' date='20220305' %}" class="btn btn-sm {% if date_raw == "20220305" %}btn-success{% else %}btn-outline-secondary{% endif %}">14</a>
        <a href="{% url 'staff:sold_products_date' date='20220304' %}" class="btn btn-sm {% if date_raw == "20220304" %}btn-success{% else %}btn-outline-secondary{% endif %}">13</a>
        <a href="{% url 'staff:sold_products_date' date='20220303' %}" class="btn btn-sm {% if date_raw == "20220303" %}btn-success{% else %}btn-outline-secondary{% endif %}">12</a>
        <a href="{% url 'staff:sold_products_date' date='20220302' %}" class="btn btn-sm {% if date_raw == "20220302" %}btn-success{% else %}btn-outline-secondary{% endif %}">11</a>
        <a href="{% url 'staff:sold_products_date' date='20220301' %}" class="btn btn-sm {% if date_raw == "20220301" %}btn-success{% else %}btn-outline-secondary{% endif %}">10</a>
        <a href="{% url 'staff:sold_products_date' date='20220228' %}" class="btn btn-sm {% if date_raw == "20220228" %}btn-success{% else %}btn-outline-secondary{% endif %}">9</a>
        <a href="{% url 'staff:sold_products_date' date='20220227' %}" class="btn btn-sm {% if date_raw == "20220227" %}btn-success{% else %}btn-outline-secondary{% endif %}">8</a>
        <a href="{% url 'staff:sold_products_date' date='20220226' %}" class="btn btn-sm {% if date_raw == "20220226" %}btn-success{% else %}btn-outline-secondary{% endif %}">7</a>
        <a href="{% url 'staff:sold_products_date' date='20220225' %}" class="btn btn-sm {% if date_raw == "20220225" %}btn-success{% else %}btn-outline-secondary{% endif %}">6</a>
        <a href="{% url 'staff:sold_products_date' date='20220224' %}" class="btn btn-sm {% if date_raw == "20220224" %}btn-success{% else %}btn-outline-secondary{% endif %}">5</a>
        <a href="{% url 'staff:sold_products_date' date='20220223' %}" class="btn btn-sm {% if date_raw == "20220223" %}btn-success{% else %}btn-outline-secondary{% endif %}">4</a>
        <a href="{% url 'staff:sold_products_date' date='20220222' %}" class="btn btn-sm {% if date_raw == "20220222" %}btn-success{% else %}btn-outline-secondary{% endif %}">3</a>
        <a href="{% url 'staff:sold_products_date' date='20220221' %}" class="btn btn-sm {% if date_raw == "20220221" %}btn-success{% else %}btn-outline-secondary{% endif %}">2</a>
        <a href="{% url 'staff:sold_products_date' date='20220220' %}" class="btn btn-sm {% if date_raw == "20220220" %}btn-success{% else %}btn-outline-secondary{% endif %}">1</a>
        <a href="{% url 'staff:sold_products_date_period' period='20220220-20220320' %}" class="btn btn-sm {% if period == "20220220-20220320" %}btn-success{% else %}btn-outline-success{% endif %} ms-2">{% trans "Esfand" %}</a>
      </p>
      <table class="table table-striped">
        <thead>
          <th scope="">{% trans 'Product ID' %}</th>
          <th scope="">{% trans 'ISBN' %}</th>
          <th scope="">{% trans 'Flow' %}</th>
          <th scope="">{% trans 'Name' %}</th>
          <th scope="">{% trans 'Publisher' %}</th>
          <th scope="">{% trans 'Vendors' %}</th>
          <th scope="">{% trans 'Quantity' %}</th>
          <th scope="">{% trans 'Status' %}</th>
          <th scope="">{% trans 'Date' %}</th>
          <th scope="">{% trans 'Quantity in stock' %}</th>


        </thead>
        <tbody>
          {% for line, item  in added_line.items %}
          <tr>
            <td>{{ line }}</td>

            <td>{{ item.isbn }}</td>
            <td><a href="{% url 'warehouses:product_workflow' item.id %}"><img src="{% static 'img/proccess.png' %}" alt="product flow"></a></td>
            <td>{{ item.name }}</td>
            <td>{{ item.publisher }}</td>
            <td>
              {% for v in item.vendors %}
              {{ v }}
              {% endfor %}
            </td>
            <td>{{ item.quantity }}</td>
            <td class="small">
              {% if 'used' in item.variation %}
              <p class="border border-warning rounded mt-1 small">{% trans 'Used' %}</p>
              {% else %}
              <span class="border border-success p-1 mt-1 rounded">{% trans 'New' %}</span>
              {% endif %}
            </td>
            <td>{{ item.created }}</td>

            <td><span class="{% if item.stock <= 0 %}bg-warning text-dark p-2 rounded{% endif %}">{{ item.stock }}</span></td>
            {% for item in line %}
            {% endfor %}
            {%comment %}
            {% endcomment%}

          </tr>
          {% endfor %}

        </tbody>
      </table>



    </div>
    {% include "shop/pagination.html" with page=order_lines %}
  </div>
</div>
{% endblock %}
