@page {
  size: A4;
  margin: 1cm;
}
@page rotated {
  size: landscape;
  }
@font-face {
  font-family: iransans;
  src: url(../fonts/IRANSansWebFaNum.woff2);
}

body {
  font-family: iransans, Helvetica, sans-serif;
  color: #222;
  line-height: 1.5;
  font-size: 12px;
  width: 7cm;
}

h1 {
  margin: 0;
}


.ending {
  font-size: 9px;
  page-break-inside: avoid;
  page-break-after: always;
}
