{% extends '_base_files_app.html'%}
{% block content %}
{% if update_product %}
<p class="bg-dannger">{{ update_product }}</p>
{% endif %}
<a href="{% url 'files:list_of_files' %}" class="btn btn-secondary">Back</a>
<br>{{ file_object.name }} - {{ file_object.type }} - {{ file_object.file.url}} - {{file_object.slug}}
<a href="{% url 'files:add_used_book_with_no_isbn' file_slug=file_object.slug check='add' %}" class="btn btn-warning">Add series 3</a>
<a href="{% url 'files:add_used_book_with_no_isbn_2' file_slug=file_object.slug check='add' %}" class="btn btn-warning">Add used book with NO isbn 2</a>
<p>row_count: {{ row_count }}</p>
<div class="">
number_of_added_object: {{number_of_added_object}}
<br>
'name_in_database': {{name_in_database }}
<br>
'name_not_in_database': {{name_not_in_database }}
</div>
{% comment %}
{% endcomment %}
{% endblock %}
