{% extends '_base_files_app.html'%}
{% block content %}
{% for file in files %}
<p>{{ file.name }} {{ file.type }} {{ file.file.url}}
{% comment %}
<a href="{% url 'files:add_new_book_to_database_check' file_slug=file.slug check='check' %}" class="btn btn-secondary">Check</a>

<a href="{% url 'files:add_new_book_to_database_check_2' file_slug=file.slug check='check' %}" class="btn btn-secondary">Check new 2</a>
<a href="{% url 'files:name_correction' file_slug=file.slug check='check' %}" class="btn btn-secondary">Name correction</a>


<a href="{% url 'files:correction_140' file_slug=file.slug check='check' %}" class="btn btn-secondary">Check 140</a>

<a href="{% url 'files:add_new_book_to_database_3' file_slug=file.slug check='check' %}" class="btn btn-secondary">Check series 3</a>
<a href="{% url 'files:add_used_book_with_isbn' file_slug=file.slug check='check' %}" class="btn btn-secondary">Check used book with isbn</a>
<a href="{% url 'files:add_used_book_with_no_isbn' file_slug=file.slug check='check' %}" class="btn btn-secondary">Check used book with NO isbn</a>
<a href="{% url 'files:add_new_book_to_database_4' file_slug=file.slug check='check' %}" class="btn btn-secondary">Check New series 4</a>
<a href="{% url 'files:add_crafts' file_slug=file.slug check='check' %}" class="btn btn-secondary">Check Crafts</a>
<a href="{% url 'files:used_book_update' file_slug=file.slug check='check' %}" class="btn btn-secondary">Check used-book-update</a>
<a href="{% url 'files:add_used_book_with_no_isbn_2' file_slug=file.slug check='check' %}" class="btn btn-secondary">Check used book with NO isbn 2</a>
<a href="{% url 'files:add_used_book_with_isbn_2' file_slug=file.slug check='check' %}" class="btn btn-secondary">Check used-book-with isbn 2</a>
<a href="{% url 'files:used_book_update_2' file_slug=file.slug check='check' %}" class="btn btn-secondary">used_book_update_2</a>
<a href="{% url 'files:duplicate_book_1' file_slug=file.slug check='check' %}" class="btn btn-secondary">duplicat_book_1</a>
{% endcomment %}
<a href="{% url 'files:check_category' file_slug=file.slug check='check' start=2 end=1000 %}" class="btn btn-sm btn-secondary">Used book update 2 - 1000</a>
<a href="{% url 'files:check_category' file_slug=file.slug check='check' start=1001 end=2000 %}" class="btn btn-sm btn-secondary">Used book update 1001 - 2000</a>
<a href="{% url 'files:check_category' file_slug=file.slug check='check' start=2001 end=3000 %}" class="btn btn-sm btn-secondary">Used book update 2001 - 3000</a>
<a href="{% url 'files:check_category' file_slug=file.slug check='check' start=3001 end=4000 %}" class="btn btn-sm btn-secondary">Used book update 3001 - 4000</a>
<a href="{% url 'files:check_category' file_slug=file.slug check='check' start=4001 end=5000 %}" class="btn btn-sm btn-secondary">Used book update 4001 - 5000</a>
<a href="{% url 'files:check_category' file_slug=file.slug check='check' start=5001 end=6000 %}" class="btn btn-sm btn-secondary">Used book update 5001 - 6000</a>
<a href="{% url 'files:check_category' file_slug=file.slug check='check' start=6001 end=7000 %}" class="btn btn-sm btn-secondary">Used book update 6001 - 7000</a>
<a href="{% url 'files:check_category' file_slug=file.slug check='check' start=7001 end=8000 %}" class="btn btn-sm btn-secondary">Used book update 7001 - 8000</a>
<a href="{% url 'files:check_category' file_slug=file.slug check='check' start=8001 end=9000 %}" class="btn btn-sm btn-secondary">Used book update 8001 - 9000</a>
<a href="{% url 'files:check_category' file_slug=file.slug check='check' start=9001 end=10000 %}" class="btn btn-sm btn-secondary">Used book update 9001 - 10000</a>
<a href="{% url 'files:check_category' file_slug=file.slug check='check' start=10001 end=11000 %}" class="btn btn-sm btn-secondary">Used book update 10001 - 11000</a>
<a href="{% url 'files:check_category' file_slug=file.slug check='check' start=11001 end=12460 %}" class="btn btn-sm btn-secondary">Used book update 11001 - 12460</a>
</p>
{% endfor %}
{% endblock %}
