{% extends '_base_files_app.html'%}
{% block content %}
{% for file in files %}
<p>{{ file.name }} {{ file.type }} {{ file.file.url}}
{% comment %}
<a href="{% url 'files:add_new_book_to_database_check' file_slug=file.slug check='check' %}" class="btn btn-secondary">Check</a>

<a href="{% url 'files:add_new_book_to_database_check_2' file_slug=file.slug check='check' %}" class="btn btn-secondary">Check new 2</a>
<a href="{% url 'files:name_correction' file_slug=file.slug check='check' %}" class="btn btn-secondary">Name correction</a>


<a href="{% url 'files:correction_140' file_slug=file.slug check='check' %}" class="btn btn-secondary">Check 140</a>

<a href="{% url 'files:add_new_book_to_database_3' file_slug=file.slug check='check' %}" class="btn btn-secondary">Check series 3</a>
<a href="{% url 'files:add_used_book_with_isbn' file_slug=file.slug check='check' %}" class="btn btn-secondary">Check used book with isbn</a>
<a href="{% url 'files:add_used_book_with_no_isbn' file_slug=file.slug check='check' %}" class="btn btn-secondary">Check used book with NO isbn</a>
{% endcomment %}
<a href="{% url 'files:add_new_book_to_database_4' file_slug=file.slug check='check' %}" class="btn btn-secondary">Check New series 4</a>
</p>
{% endfor %}
{% endblock %}
