{% for file in files %}
{{ file.name }} {{ file.type }} {{ file.file.url}}
<form class="" action="{% url 'upload_file' file.slug %}" method="post">
<input type="submit" name="upload" value="upload">
{% csrf_token %}
</form>
{% endfor %}
{% if file_object %}
{{ file_object.name }} {{ file_object.type }} {{ file_object.url}}
{{ test_object }}
{{ test_object.author }}
{{ test_object.price }}
{{ test_object.stock }}
{{ test_object.barcode }}
{{ test_object.translator }}
{{ test_object.size }}
{% endif %}
