{% load i18n %}
{% load static %}
{% load humanize %}

<html dir="rtl">

<head>
  <link href="{% static 'css/bootstrap.rtl.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-grid.rtl.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-utilities.rtl.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/print_address.css' %}" rel="stylesheet">
</head>

<body>
  <div class="d-flex flex-row-reverse">
    <div class="justify-content-end">
      <table class="table ">
        <tr>
          <td>{% trans 'Sender' %}:</td>
          <td>
        </td>
        </tr>
        <tr>
          <td>
            <p class="fw-bold">{% trans 'Ketabe Damavand' %}
            <img src="{% static 'img/logo_bw.png' %}" alt="{% trans 'Ketab Damavand' %}" class="rounded" width="60px;" height="auto">
            </p>
            <p>{% trans 'Address' %} :
              <span>{% trans 'Tehran' %},</span>
              <br><span class="text-center">{% trans 'Enghelab St.' %}, {% trans '16 Azar St.' %}, {% trans 'Edward Brown St.' %}, {% trans 'No.7' %}</span>
            </p>
          </td>
        </tr>
        <tr>
          <tr>
            <td>{% trans 'Postal code'%}: 1417943931</td>
          </tr>
          <td>
            <p>{% trans 'Phone' %} :
              <span dir="ltr" class="mx-3">+9821 66981024</span>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="d-flex flex-row">
    <div class="justify-content-end">
      <table class="table ">
        <tr>
          <td>{% trans 'Reciever' %}:</td>
        </tr>
        <tr>
          <td>
            <p class="fw-bold">{% trans 'Ketabe Damavand' %}</p>
            <p>{% trans 'Address' %} :
              {% if kind == 'billing' %}
              <span class="text-center">{{ client.default_billing_address.get_full_address |linebreaksbr }}</span>
              {% else %}
              <span class="text-center">{{ client.default_shipping_address.get_full_address |linebreaksbr }}</span>
              {% endif %}
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>{% trans 'Phone' %} :
              {% if kind == 'billing' %}
              <span dir="ltr" class="mx-3">{{client.phone}} {% if client.default_billing_address.address_phone %}- {{ client.default_billing_address.address_phone }}{% endif %}</span>
              {% else %}
              <span dir="ltr" class="mx-3">{{client.phone}} {% if client.default_shipping_address.address_phone %}- {{ client.default_shipping_address.address_phone }}{% endif %}</span>
              {% endif %}
          </td>
        </tr>
      </table>
    </div>
  </div>

</body>

</html>
