{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}{% trans 'Client details' %} {{ client.username }}{% endblock %}

{% block clients-btn %}btn-secondary text-dark{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-2">
      {% include "staff/sidebar_staff.html" with barName="clients" %}
    </div>
    <div class="col-md-10">
      <h2 id="addClient">{% trans 'Client details' %}</h2>
      <div class="">
        <table class="table table-striped">
          <tr>
            <td>{% trans 'First name' %}</td>
            <td>{{ client.first_name }}</td>
          </tr>
          <tr>
            <td>{% trans 'Last name' %}</td>
            <td>{{ client.last_name }}</td>
          </tr>
          <tr>
            <td>{% trans 'Social name' %}</td>
            <td>{{ client.social_media_name }}</td>
          </tr>
          <tr>
            <td>{% trans 'Username' %}</td>
            <td>{{ client.username }}</td>
          </tr>
          <tr>
            <td>{% trans 'Phone' %}</td>
            <td>{{ client.phone }}</td>
          </tr>
          <tr>
            <td>{% trans 'Email' %}</td>
            <td>{{ client.email }}</td>
          </tr>
          <tr>
            <td>{% trans 'Billing address' %}</td>
            <td>
              {% if client.default_billing_address %}
              {{ client.default_billing_address }}
              <br>{{ client.default_billing_address.get_full_address }}
              <a href="{% url 'client_update_address' client_id=client.id kind='billing' address_id=client.default_billing_address.pk %}" class="btn btn-outline-secondary">{% trans 'Edit address'%}</a>
              {% endif %}
              <a href="{% url 'client_add_address' client_id=client.id kind='billing' %}" class="btn btn-outline-secondary">{% trans 'Add address'%}</a>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>{% trans 'Shipping address' %}</td>
            <td>
              {% if client.default_shipping_address %}
              {{ client.default_shipping_address }}
              <br>{{ client.default_shipping_address.get_full_address }}
              <a href="{% url 'client_update_address' client_id=client.id kind='shipping' address_id=client.default_shipping_address.pk %}" class="btn btn-outline-secondary">{% trans 'Edit address'%}</a>
              {% endif %}
              <a href="{% url 'client_add_address' client_id=client.id kind='shipping' %}" class="btn btn-outline-secondary">{% trans 'Add address'%}</a>
            </td>
          </tr>
        </table>
      </div>
    </div>


  </div>

</div>
{% endblock %}
