{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}{% trans 'Clients' %}{% endblock %}

{% block clients-btn %}btn-secondary text-dark{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-2">
      {% include "staff/sidebar_staff.html" with barName="clients" %}
    </div>
    <div class="col-md-10">
      <h2>{% trans 'Clients' %}</h2>
      <form class="" action="." method="post">{% csrf_token %}
        <div class="row  no-gutters">
          <div class="col-md-9">
            {{ client_search_form | crispy }}
          </div>
          <div class="col-md-3">
            <input class="btn btn-outline-secondary form-control" type="submit" value="{% trans 'Search' %}">
          </div>
        </div>
      </form>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{% trans 'Edit' %}</th>
            <th scope="col">{% trans 'Name' %}</th>
            <th scope="col">{% trans 'Username' %}</th>
            <th scope="col">{% trans 'Client code' %}</th>
            <th scope="col">{% trans 'Phone' %}</th>
          </tr>
        </thead>
        <tbody id="clientTable">
          {% for client in clients %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'client_update' client.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
            <td><a href="{% url 'client_details' client.id %}">{{ client }}</a></td>
            <td>{{ client.username }}</td>
            <td>{{ client.id }}</td>
            <td>{{ client.phone }}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
      {% include "shop/pagination.html" with page=clients %}
    </div>


  </div>

</div>
{% endblock %}
