{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}{% trans 'Client details' %} {{ client.username }}{% endblock %}

{% block clients-btn %}btn-secondary text-dark{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-2">
      {% include "staff/sidebar_staff.html" with barName="clients" %}
    </div>
    <div class="col-md-10">
      <h2 id="addClient">{% trans 'Client details' %}</h2>
      <div class="">
      <form class="" action="." method="post">
        {% csrf_token %}
        {{ client_form | crispy }}
        <input type="submit" name="" class="btn btn-outline-secondary my-3" value="{% trans 'Submit' %}">
      </form>
    </div>
    </div>


  </div>

</div>
{% endblock %}
