{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% load humanize %}

{% block title %}{{ product }}{% endblock %}

{% block staff_tab %}<a class="btn btn-sm text-dark btn-outline-warning" href="{% url 'staff:product_update' product.id %}" >{% trans 'Update product' %}</a>{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div itemscope itemtype="https://schema.org/Book">
    <div class="row gy-2">
      <div class="col-md-4">
        <div class="border drop_shadow rounded-2">
          {% if product.image %}
          <img src="{{ product.image.url }}" itemprop="image" class="card-img-top p-4" alt="{{ product.image_alt }}">
          {% else %}
          <img src="{% static 'img/no_image.png' %}" class="card-img-top p-4" alt="no-image">
          {% endif %}
        </div>
        <span class="badge rounded-pill ms-4 mt-2 {% if product.state == 'new' %}bg-success{% else %}bg-warning{% endif %}">{{ product.state | capfirst }}</span>
      </div>
      <div class="col-md-3">
        <div class="drop_shadow border rounded-2 p-2">
          <div class="bg-light p-2">
            <p itemprop="name" class="">{% trans 'Name' %} : {{ product }}</p>
            <p itemprop="author" class="">{% trans 'Author' %} : {{ product.author }}</p>
            <p itemprop="translator" class="">{% trans 'Translator' %} : {{ product.translator }}</p>
            <p class="">{% trans 'Price' %} : {{ product.price | intcomma:False}}<span class="small"> ({% trans 'Rial' %})</span></p>
            <p itemprop="publisher" class="">{% trans 'Publisher' %} : {{ product.publisher }}</p>
            <p itemprop="publisher" class="">{% trans 'Publisher' %} : {% if product.publisher_2 %}{{ product.publisher_2 }}{% endif %}</p>
          </div>
        </div>
        <div class="mt-4">
          {% if product.stock >= 1 %}
          <form action="{% url 'cart:cart_add' product.pk %}" method="post">
            {{ cart_product_form}}
            {% csrf_token %}
            <input type="submit" value="{% trans 'Add to cart' %}">
          </form>
          {% else %}
          <form action="#" method="get">
            <input type="submit" value="{% trans 'Let me know if becomes available' %}">
          </form>
          {% endif %}
        </div>
      </div>
      {% if product.description %}
      <div class="col-md-5">
        <div class="drop_shadow border rounded-2 p-3">
          <div class="bg-light p-2">
            <p class="">{{ product.description }}</p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="drop_shadow border rounded-2 p-3">
          <!-- Info buttons -->
          <a class="btn btn-light btn-outline-secondary" data-bs-toggle="collapse" href="#info-1" role="button" aria-expanded="true" aria-controls="info-1">
            {% trans 'Book informations' %}
          </a>
          <a class="btn btn-light btn-outline-secondary" data-bs-toggle="collapse" href="#info-2" role="button" aria-expanded="false" aria-controls="info-2">
            {% trans 'Book Features' %}
          </a>
          {% if request.user.is_staff %}
          <a class="btn btn-light btn-outline-secondary" data-bs-toggle="collapse" href="#admin-info" role="button" aria-expanded="false" aria-controls="admin-info">
            {% trans 'Admin info' %}
          </a>
          {% endif %}

          {% comment %}
          <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Button with data-bs-target
          </button>
          {% endcomment %}
          <div class="row">

            <div class="col">
              <div class="" id="info-1">
                <div class="card card-body">
                  <p itemprop="isb">{% trans 'ISBN' %} : {{ product.isbn }}</p>
                  <p itemprop="copyrightYear">{% trans 'Publish year' %} : {{ product.publish_year }}</p>
                  <p itemprop="bookEdition">{% trans 'Edition' %} : {{ product.edition }}</p>
                  <p itemprop="numberOfPages">{% trans 'Number of pages' %} : {{ product.page_number }}</p>
                  <p>{% trans 'Age range' %} : {{ product.age_range }}</p>

                </div>
              </div>
            </div>

            <div class="col">
              <div class="collapse" id="info-2">
                <div class="card card-body">
                  <p itemprop="size">{% trans 'Size' %} : {{ product.size }}</p>
                  <p itemprop="weight">{% trans 'Weight' %} : {{ product.weight }}</p>
                  <p>{% trans 'Cover type' %} : {{ product.cover_type }}</p>
                  <p>{% trans 'Latin name' %} : {{ product.latin_name }}</p>
                  <p>{% trans 'Author latin name' %} : {{ product.author_latin_name }}</p>
                </div>
              </div>
            </div>

          </div>

          {% if request.user.is_staff %}
          <div class="row">
            <div class="col">
              <div class="collapse" id="admin-info">
                <div class="card card-body">
                  <p>{% trans 'Stock' %} : {{ product.stock }}</p>
                  <p>{% trans 'Zero stock' %} : {{ product.zero_stock }}</p>
                  <p>{% trans 'Zero stock limit' %} : {{ product.zero_stock_limit }}</p>
                  <p>{% trans 'Product type' %} : {{ product.product_type  }}</p>
                  <p>{% trans 'Has other prices' %} : {{ product.has_other_prices  }}</p>
                  <p>{% trans 'Price' %} : {{ product.price_1 | intcomma:False }}<span class="small"> ({% trans 'Rial' %})</span></p>
                  <p>{% trans 'Stock' %} : {{ product.stock_1  }}</p>
                  <p>{% trans 'Price used' %} : {{ product.price_used | intcomma:False }}</p>
                  <p>{% trans 'Stock used' %} : {{ product.stock_used  }}</p>
                  <p>{% trans 'Bookstore position' %} : {{ product.store_positon  }}</p>
                  <p>{% trans 'Vendor' %} : {{ product.vendor  }}</p>
                  <p>{% trans 'Admin note' %} : {{ product.admin_note  }}</p>
                  <p>{% trans 'Warehouse' %} : </p>
                  <p>{% trans 'Just for online sales' %} : {{ product.available_online  }}</p>
                  <p>{% trans 'Just for store sales' %} : {{ product.available_in_store  }}</p>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div> <!-- end of schema div -->
  <div class="row text-center">

    {% for good in goods %}
    <div class="col-md-3">
      <div class="">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class=" p-4" height="150px" width="auto" alt="{{ product.image_alt }}">
      </div>
      <p><span class="badge {% if good.state == "new" %}bg-success{% else %}bg-warning{% endif %} rounded-pill ms-4 mt-2">{{ good.state }}</span></p>
      <p>{{ good.price | intcomma:False }}</p>
      <button type="button" class="btn btn-outline-secondary" name="button">{% trans 'Add to cart'%}</button>

    </div>
    {% endfor %}
  </div>

</div> <!-- end of container div -->

{% endblock %}
