{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% block title %}{% trans 'Home' %}{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row gy-2">
    <div class="col-md-4">
      <div class="bg-second-color rounded-2">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="card-img-top p-4" alt="{{ product.image_alt }}">
      </div>
    </div>
    <div class="col-md-3">
      <div class="booklist bg-second-color rounded-2">
        <div class="bg-light p-2">
          <p class="">name</p>
          <p class="">author</p>
          <p class="">price</p>
          <p class="">publication</p>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="booklist bg-second-color rounded-2">
        <div class="bg-light p-2">
          <p class="">description</p>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="bg-second-color rounded-2 p-3">
        <!-- Info buttons -->
        <a class="btn btn-light" data-bs-toggle="collapse" href="#info-1" role="button" aria-expanded="true" aria-controls="info-1">
          Info 1
        </a>
        <a class="btn btn-light" data-bs-toggle="collapse" href="#info-2" role="button" aria-expanded="false" aria-controls="info-2">
          Info 2
        </a>

        {% comment %}
        <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Button with data-bs-target
        </button>
        {% endcomment %}
        <div class="row">
          <div class="col">
            <div class="collapse" id="info-1">
              <div class="card card-body">
                <p>lorem ipsum</p>
                <p>lorem ipsum</p>
                <p>lorem ipsum</p>
                <p>lorem ipsum</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="collapse" id="info-2">
              <div class="card card-body">
                <p>lorem ipsum lorem ipsumlorem ipsum</p>
                <p>lorem ipsum lorem ipsumlorem ipsum</p>
                <p>lorem ipsum lorem ipsumlorem ipsum</p>
                <p>lorem ipsum lorem ipsumlorem ipsum</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

{% endblock %}
