{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% load humanize %}

{% load crispy_forms_tags %}

{% block title %}{% trans 'Publishers' %}{% endblock %}

{% block products-btn %}btn-secondary text-dark{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-1">
      {% include "staff/sidebar_staff.html" with barName="products" %}
    </div>
    <div class="col-md-11">
      <h2>{% trans 'List of publishers' %}</h2>
      <ul>
        {% for publisher in publishers %}
        <li>
          <a href="{% url 'shop:publisher_products' publisher.id %}" class="">{{ publisher }}</a>
          {% if publisher.product_count %}<span class="text-secondary"> - {{ publisher.product_count }} {% trans "Product" %}</span> {% endif %}
        </li>
        {% endfor %}
      </ul>

      {% if page %}
      {% include "shop/pagination.html" with page=publishers %}
      {% endif %}
    </div>


  </div>

</div>
{% endblock %}
{% block script %}

{% endblock %}
