{% extends "_temp_base.html" %}

{% load i18n %}

{% load static %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block title %}{% trans 'Store book search' %}{% endblock %}


{% block content %}
<div class="container">
  <div class="row text-center">

    <h3>{% trans 'Search' %} {% trans 'Ketab Damavand' %}</h3>
    <p class="border border-warning rounded p-1 m-1 ">{% trans 'For product without price please ask our staff' %}</p>

    <form class="p-2 " action="." method="post">
      {{ search_form | crispy }}
      {% csrf_token %}
      <input type="submit" name="" class="btn btn-success my-2" value="{% trans 'Submit'%}">
    </form>

  </div>


  <div class="row">
    {% if all_products%}
    <h3>{% trans 'Available books' %}</h3>
    {% endif %}
    {% for product in all_products %}
    <div class="">

      {% if product.stock or product.stock_1 %}
      <p class="">
        <img src="{% static 'img/logo_bw.png' %}" class=" " width="40px" height="auto" alt="{{ product.name }}">
        <span class="badge bg-success rounded-pill">{% trans 'Book' %} {% trans 'New' %}</span>
        <span class=" p-2">
          <b>{{ product }}</b>
          {% if product.publisher %} - {{ product.publisher }}{% endif %}
          {% if product.page_number %} - {% trans 'Page number' %}: {{ product.page_number }}{% endif %}
          {% if product.price %} - {% trans 'Price' %}: <b>{{ product.price | intcomma:False }}</b> {% trans 'Rial' %}{% endif %}
         </span>
      </p>
      {% else %}
      <p class="">
        <img src="{% static 'img/logo_bw.png' %}" class=" " width="40px" height="auto" alt="{{ product.name }}">
        <span class="badge bg-warning rounded-pill">{% trans 'Book' %} {% trans 'Used' %}</span>
        <span class=" p-2">
          <b>{{ product }}</b>
        {% if product.publisher %}  - {{ product.publisher }}{% endif %}
        {% if product.page_number %}  - {% trans 'Page number' %}: {{ product.page_number }}{% endif %}
        {% if product.price_used %}  - {% trans 'Price' %}: <b>{{ product.price_used | intcomma:False }}</b> {% trans 'Rial' %}{% endif %}
        </span>
      </p>
      {% endif %}
      {% endfor %}

    </div>


    </div>
    {% if note %}
    <div class="row mt-3 text-center">
      <!-- The rule of used book pricing -->
      <div class="col-md-12">
        <div class="drop_shadow border rounded-2">

          <!-- Info buttons -->
          <a class="btn btn-light btn-outline-warning text-dark mt-3" data-bs-toggle="collapse" href="#info-1" role="button" aria-expanded="false" aria-controls="info-1">
            {{ note.title }}
          </a>
          <div class="row mt-3">

            <div class="col">
              <div class="" id="info-1">
                <div class="card card-body">
                  <p> {{ note.body | linebreaksbr }}</p>
                </div>
              </div>
            </div>


          </div>



        </div>
      </div>
    </div> <!-- The rule of used book pricing -->
    {% endif %}


  </div>

  {% endblock %}
