@font-face {
  font-family: iransans;
  src: url(../fonts/IRANSansWebFaNum.woff2);
}

body {
  margin: 0;
  padding: 0;
  font-family: iransans, helevicta, sans-serif;
}

.main-color {
  color: #78C2C3;
}

.second-color {
  color: #96a5a5;
}

.bg-main-color {
  background-color: #78C2C3;
}

.bg-second-color {
  background-color: #96a5a5;
}

a {
  color: DarkSlateGray;
}

a:hover {
  color: LightSlateGray;
}

.sidebar {
  padding: 30px;
}

.booklist {
  padding: 30px;
}

.login-logo {
  position: relative;
  top:px;
  left:20px;
}
