{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html dir="rtl">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Open graph -->
  <meta property="og:title" content="{% trans 'Ketab Damavand' %}" />
  <meta name="description" property="og:description" content="{% trans 'Ketab Damavand' %}">
  <meta property="og:image" content="{% static 'img/logo.png' %}" />
  <meta property="og:image:alt" content="{% trans 'Ketab Damavand logo' %}" />

  <!-- css files -->
  <link href="{% static 'css/bootstrap.rtl.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-grid.rtl.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-utilities.rtl.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-F9RJ6DQ80X"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-F9RJ6DQ80X');
  </script>


  <title>{% block title %}{% endblock %} | {% trans 'Ketab Damavand' %}</title>
</head>

<body>
  <header class="mb-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'shop:home' %}">{% trans 'Ketab Damavand' %}</a>
        <!-- navbar button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">{% trans 'category 1' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">{% trans 'category 2' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">{% trans 'category 2' %}</a>
            </li>
          </ul>

        </div>

      </div>
      <!-- search bar -->
      <div class="container-fluid">
        <form class="d-flex ">
          <input class="form-control me-2" type="search" placeholder="نام کتاب، پدیدآورنده، ناشر" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">{% trans 'Search' %}</button>
        </form>
      </div>
    </nav>
    <div class="">
      {% if request.user.is_authenticated %}
      <a href="{% url 'logout' %}" style="position: absolute; top:20px; left:20px; "><img src="{% static 'img/logout.png' %}" width="30px" height="auto" alt="logout"></a>
      <a href="{% url 'dashboard' %}" style="position: absolute; top:20px; left:70px; "><b>{{ request.user }}</b></a>
      {% else %}
      <a href="{% url 'login' %}" style="position: absolute; top:30px; left:20px; "><img src="{% static 'img/login.png' %}" width="30px" height="auto" alt="login"></a>
      <a href="{% url 'register' %}" style="position: absolute; top:20px; left:90px; "><img src="{% static 'img/signup.png' %}" width="40px" height="auto" alt="signup"></a>
      {% endif %}

    </div>

  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer class="footer  mt-3 container-fluid">

    <div class="row p-4 bg-second-color">
      <div class="col-md-3 text-light">
        <p class="fw-bold">Lorem ipsum 1</p>
        <p>Lorem ipsum 1</p>
        <p>Lorem ipsum 1</p>
      </div>
      <div class="col-md-3 text-light">
        <p class="fw-bold">Lorem ipsum 1</p>
        <p>Lorem ipsum 1</p>
        <p>Lorem ipsum 1</p>
      </div>
      <div class="col-md-3 text-light">
        <p class="fw-bold">Lorem ipsum 1</p>
        <p>Lorem ipsum 1</p>
        <p>Lorem ipsum 1</p>
      </div>
      <div class="col-md-3 text-light">
        <p class="text-center fw-bold">{% trans 'Social Media' %}</p>
        <span>Lorem 1</span>
        <span>Lorem 2</span>
      </div>

    </div>
    <div class="row bg-dark text-center">
      <p class="text-light pt-3">copyright@ 2021</p>
    </div>

  </footer>

  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
