{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html dir="rtl">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Open graph -->
  <meta property="og:title" content="{% trans 'Ketab Damavand' %}" />
  <meta name="description" property="og:description" content="{% trans 'Ketab Damavand' %}">
  <meta property="og:image" content="{% static 'img/logo.png' %}" />
  <meta property="og:image:alt" content="{% trans 'Ketab Damavand logo' %}" />

  <!-- css files -->
  <link href="{% static 'css/bootstrap.rtl.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-grid.rtl.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-utilities.rtl.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-F9RJ6DQ80X"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-F9RJ6DQ80X');
  </script>


  <title>{% block title %}{% endblock %} | {% trans 'Ketab Damavand' %}</title>
</head>

<body>
  <header class="mb-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid bg-main-color border-bottom border-2 border-dark">
        <a class="navbar-brand p-5 fw-bolder" href="{% url 'shop:home' %}">{% trans 'Ketab Damavand' %}</a>
        <!-- navbar button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">{% trans 'category 1' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">{% trans 'category 2' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">{% trans 'category 2' %}</a>
            </li>
          </ul>

        </div>
        <div class="cart">
          {% with total_items=cart|length %}
          <img src="{% static 'img/cart.png' %}" width="30px" height="auto" alt="cart">
          {% if total_items > 0 %}
          <a href="{% url 'cart:cart_detail'%}" class="position-relative">
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger">

              {{ total_items }}
              <span class="visually-hidden">{% trans 'items in cart' %}</span>
            </span>
              {% comment %}
              {{ total_items }} {% trans 'item' %}, {{ cart.get_total_price }} {% trans 'Toman' %}
              {% blocktrans with total=cart.get_total_price count items=total_items %}
              {{ total_items }} item, {{ cart.get_total_price }} {% trans 'Toman' %}
              {% endblocktrans %}
              {% endcomment %}
          </a>
          {% else %}
          
          {% endif %}
          {% endwith %}
        </div>
        <div class="p-2">

          {% if request.user.is_authenticated %}
          <a href="{% url 'dashboard' %}" <b>{{ request.user }}</b></a>
          <a href="{% url 'logout' %}" class="">
            <img src="{% static 'img/logout.png' %}" width="30px" height="auto" alt="logout"></a>
          {% else %}
          <a href="{% url 'register' %}">
            <img src="{% static 'img/signup.png' %}" width="40px" height="auto" alt="signup"></a>
          <a href="{% url 'login' %}" class="">
            <img src="{% static 'img/login.png' %}" width="30px" height="auto" alt="login"></a>
          {% endif %}

        </div>

      </div>

    </nav>
    {% comment %}
    <!-- search bar -->
    <div class="container my-2">
      <form class="d-flex " action="{% url 'search:product_search' %}" method="GET">
        <input class="form-control me-2" type="search" placeholder="نام کتاب، پدیدآورنده، ناشر" aria-label="Search">
        <button class="btn btn-outline-secondary" value="query" type="submit">{% trans 'Search' %}</button>
      </form>
    </div>
    {% endcomment %}
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="{{ message.tags }}">
        {{ message|safe }}
        <a href="#" class="close">x</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if user.is_staff %}
    <div class="m-2">
      <a href="{% url 'staff:order_list' %}" class="btn btn-outline-secondary ">{% trans 'Sales' %}</a>
      <a href="{% url 'staff:purchase_list' %}" class="btn btn-outline-secondary ">{% trans 'Purchase' %}</a>
      <a href="{% url 'staff:warehouse' %}" class="btn btn-outline-secondary ">{% trans 'Warehouse' %}</a>
      <a href="{% url 'staff:products' %}" class="btn btn-outline-secondary ">{% trans 'Products' %}</a>
    </div>
    {% endif %}


  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer class="footer">
    <div class="mt-3 container-fluid bg-second-color">
      <div class="row row-cols-md-3 p-5">
        <div class="col text-light">
          <p class="fw-bold">Lorem ipsum 1</p>
          <p>Lorem ipsum 1</p>
          <p>Lorem ipsum 1</p>
        </div>
        <div class="col text-light">
          <p class="fw-bold">Lorem ipsum 1</p>
          <p>Lorem ipsum 1</p>
          <p>Lorem ipsum 1</p>
        </div>
        <div class="col text-light">
          <p class="text-center fw-bold">{% trans 'Social Media' %}</p>
          <span>Lorem 1</span>
          <span>Lorem 2</span>
        </div>
      </div>
    </div>
    <div class="row bg-dark text-center">
      <p class="text-light pt-3">copyright@ 2021</p>
    </div>

  </footer>

  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
