{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html dir="rtl">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Open graph -->
  <meta property="og:title" content="{% trans 'Ketab Damavand' %}" />
  <meta name="description" property="og:description" content="{% trans 'Ketab Damavand' %}">
  <meta property="og:image" content="{% static 'img/logo.jpg' %}" />
  <meta property="og:image:alt" content="{% trans 'Ketab Damavand logo' %}" />

  <!-- css files -->
  <link href="{% static 'css/bootstrap.rtl.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-grid.rtl.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-utilities.rtl.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-F9RJ6DQ80X"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-F9RJ6DQ80X');
  </script>

  <title>{% block title %}{% endblock %} | {% trans 'Ketab Damavand' %}</title>
</head>

<body>
  <header class="mb-3">
      <div class="container-fluid">
        <div class="row text-center my-3">
          <h1 class="bg-main-color p-3 fw-bolder"><img src="{% static 'img/logo.jpg' %}" alt="{% trans 'Ketab Damavand' %}" class="rounded" width="110px;" height="auto"></h1>
        </div>
        <!-- navbar button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">


        </div>

      </div>




  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer class="footer  mt-3 container-fluid ">
    <div class="row p-4 bg-second-color">

    </div>
    <div class="row text-center" style="background-color: #5f6b6b;">
      <a href="{% url 'shop:temp_home'%}" style="text-decoration: None;"><p class="text-light pt-3 fs-6">www.ketabedamavand.com</p></a>
    </div>

  </footer>

  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
