{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% block title %}{% trans 'Home' %}{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row gy-2">
    <div class="col-md-3">
      <div class="sidebar bg-second-color rounded-2">
        <p>{% trans 'Filter 1' %}</p>
        <p>{% trans 'Filter 2' %}</p>
        <p>{% trans 'Filter 3' %}</p>
        <p>{% trans 'Filter 4' %}</p>
      </div>
    </div>
    <div class="col-md-9">
      <div class="booklist bg-second-color rounded-2">
        <h2 class="border-bottom">{% trans 'All Books' %}</h2>
        <div class="row">
          {% for product in products %}
          <div class="col-md-3">
            {% include 'shop/product_card.html' %}
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
