{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% block title %}{% trans 'Home' %}{% endblock %}

{% block content %}

  <div class="sidebar bg-secondary rounded-2 ">
    <p>{% trans 'Filter 1' %}</p>
    <p>{% trans 'Filter 2' %}</p>
    <p>{% trans 'Filter 3' %}</p>
    <p>{% trans 'Filter 4' %}</p>
  </div>
<div class="booklist bg-secondary rounded-2">
  <p>{% trans 'Category 1' %}</p>
  <p>{% trans 'Category 2' %}</p>
  <p>{% trans 'Category 3' %}</p>
  <p>{% trans 'Category 4 asoidsjd gosidj gopasih' %}</p>
  <p>{% trans 'Category 4 asoidsjd gosidj gopasih' %}</p>
  <p>{% trans 'Category 4 asoidsjd gosidj gopasih' %}</p>
  <p>{% trans 'Category 4 asoidsjd gosidj gopasih' %}</p>
  <p>{% trans 'Category 4 asoidsjd gosidj gopasih' %}</p>

</div>

{% endblock %}
