{% extends "_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Already paid' %} {% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4 text-center">
        <h1 class="">{% trans 'Already paid' %}</h1>
    </div> <!-- / end of row-->

    <div class="row mt-5 pt-5 text-center">
        <div class="col-md-12 ">
            <p class="fs-4">{% trans 'This payment is already done' %}!</p>
            <p class="fs-4">{% trans 'Payment no' %}: <b>{{ payment_id }}</b></p>

            <a href="{% url 'shop:home' %}" class="btn btn-outline-success my-5 ">{% trans 'Home' %}</a>

        </div>
    </div>
</div>

{% endblock %}
