{% extends "_base_payment.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Failed payment' %} {% endblock %}

{% block content %}
<div class="container">
  <div class="row mt-4 text-center">
    <h1 class="">{% trans 'Failed payment' %}</h1>
  </div> <!-- / end of row-->

  <div class="row mt-2 pt-3 text-center">
    <div class="col-md-12 ">

      {% if message %}
      {% if '-9' in message %}
      <p class="text-muted h4 p-1">{{ message }}</p>
      {% else %}
      <p class="text-muted h4 p-1">{{ message }}</p>
      {% endif %}
      {% endif %}

      {% if request.user.is_superuser %}
      <p class="m-2">{% trans 'Payment No' %} {{ request.session.payment_id }}</p>
      <p>amount: {{ amount }}</p>
      <p>authority: {{ authority }}</p>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}
