{% extends "_base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Payment list' %} {% endblock %}

{% block slaes-btn %}btn btn-secondary text-dark{% endblock %}

{% block head %}
<style>

</style>
{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-1">
      {% include "staff/sidebar_staff.html" with barName="sales" %}
    </div>


    <div class="col-md-11 ">
      <h1 class="">{% trans 'Payment list' %}</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{% trans 'Payment number' %}</th>
            <th scope="col">{% trans 'Client name' %}</th>
            <th scope="col">{% trans 'Amount' %}</th>
            <th scope="col">{% trans 'Order number' %}</th>
            <th scope="col">{% trans 'Order client' %}</th>
            <th scope="col">{% trans 'Paid' %}</th>
            <th scope="col">{% trans 'Ref. ID' %}</th>
            <th scope="col">{% trans 'URL' %}</th>
          </tr>
        </thead>

        <tbody>
          {% for pay in payments %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ pay.pk }}</td>
            <td>{{ pay.client_name }}</td>
            <td>{{ pay.amount | intcomma:False }}</td>
            <td>{% if pay.order %}{{ pay.order.pk  }}{% endif %}</td>
            <td>{% if pay.order %}{{ pay.order.client  }}{% endif %}</td>
            <td>{% if pay.paid %}&#10004{% else %}&#10008{% endif %}</td>
            <td>{% if pay.paid %}{{ pay.ref_id }}{% endif %}</td>
            <td><a href="{% url 'zarinpal:payment_link_request' pay.id %}" {% if pay.paid %}disable{% endif %}>link</a></td>
            {% if request.user.is_superuser %}
            {% if pay.url  %}
            <td><a href="{% url 'tools:qrcode_create' order_id=pay.order.id payment_id=pay.id %}" class="btn btn-outline-secondary mx-3">{% trans 'QRcode'%}</a></td>
            {% endif %}
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
  </div> <!-- / end of row-->
</div>
</div>
{% endblock %}
