{% extends "_base.html" %}

{% load i18n %}

{% load static %}

{% block title %}{% trans 'Product workflow' %}{% endblock %}

{% block warehouses-btn %}btn-secondary text-dark{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-md-2">
      {% include "staff/sidebar_staff.html" with barName="warehouse" %}
    </div>
    <div class="col-md-10">
      <h2>{% trans 'Product workflow'%}: {{ product.name }} - {{ product.isbn }}</h2>
      <table class="table table-striped table-responsive">
        <thead>
          <th scope="">{% trans 'Sales' %}: {{ sales.quantity }}</th>
          <th scope="">{% trans 'Purchases' %}: {{ purchases.quantity }}</th>
        </thead>
        <tbody>
          <tr>
            <td>
              {% for item in product_sales %}
              {% trans 'Order No.' %}: <a href="{% url 'staff:order_detail_for_admin' item.order.id %}" class="mx-2">{{ item.order.id }}</a> - {% trans 'Quantity' %}: {{ item.quantity }} - {{ item.order.get_fa_created }} - {% if 'used' in item.variation %}{% trans 'Used' %}{% else %}{% trans 'New' %}{% endif %}
              <br>
              {% endfor %}
            </td>
            <td>
              {% for item in product_purchases %}
              {% trans 'Order No.' %}: <a href="{% url 'orders:purchase_details' item.purchase.id %}" class="mx-2">{{ item.purchase.id }}</a> - {% trans 'Quantity' %}: {{ item.quantity }} - {{ item.purchase.get_fa_created }} - {% if 'used' in item.variation %}{% trans 'Used' %}{% else %}{% trans 'New' %}{% endif %}
              <br>
              {% endfor %}
            </td>

          </tr>

        </tbody>
      </table>



    </div>

  </div>
</div>
{% endblock %}
